@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css';

@import '../third-party/background.css';
@import '../third-party/button.css';
@import '../third-party/bootstrap.css';

@import '../configuration/fonts.css';

@import '../partials/navbar.css';
@import '../partials/footer.css';

main {
    height: calc(100vh - 64px);
}

h1 {
    font-size: 128px;
}

h2 {
    font-size: 64px;
}