@import '../configuration/fonts.css';
@import '../partials/navbar.css';
@import '../partials/card.css';
@import '../partials/footer.css';
@import '../partials/body.css';
@import '../third-party/background.css';
@import '../configuration/breakpoints.css';
@import '../partials/hero.css';

.btn-secondary{
    background-color:var(--secondary-color);
    border: none;
}

.card-body{
    background-color: transparent;
}

.form-label{
    font-size: 16px;
}

.form-check-label{
    font-size: 16px;
}

.form-control{
    font-size: 16px;
}


.img-card{
    border-radius: 50%;
    max-height:100px;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
   
}

@media((min-width:576px) and (max-width:767px)){
    .img-card{
        margin-top: 20px;
        max-height:150px;
        max-width:150px;
    }
    .sm-mt-2{
        margin-top: 15px;
    }
}

@media((max-width:576px)){
    .img-card{
        max-height:150px;
        max-width:150px;
    }
    .xs-mt-2{
        margin-top: 15px;
    }
}