@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../../node_modules/sweetalert2/dist/sweetalert2.min.css';
@import 'https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css';

@import '../configuration/fonts.css';
@import '../partials/navbar.css';
@import '../partials/footer.css';
@import '../partials/body.css';
@import '../third-party/background.css';
@import '../third-party/bootstrap.css';
@import '../third-party/button.css';
@import '../configuration/breakpoints.css';
@import '../partials/forms.css';


.form-label{
    font-size: 16px;
}

.form-control{
    font-size: 16px;
}

.img-pay{
    width: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.product-img{
    max-width: 40px;
}




.exp-wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
}
  
.exp-wrapper:after {
    content: '/';
    position: absolute;
    left: 50%;
    color: #6d757d;
}
  
input.exp {
    float: left;
    border: 0;
    width: 50%;
    text-align: center;
    outline: none !important;
}