@import '../../../node_modules/aos/dist/aos.css';

@import url('../configuration/colors.css');
@import url('../configuration/fonts.css');
@import url('../partials/navbar.css');
@import url('../partials/card.css');

@import '../partials/card.css';

#art1[data-aos] {
    transition-delay: 0.1s;
}

#art2[data-aos] {
    transition-delay: 0.2s;
}

#art3[data-aos] {
    transition-delay: 0.3s;
}