@import '../../../node_modules/aos/dist/aos.css';

@import '../configuration/colors.css';
@import '../configuration/fonts.css';
@import '../partials/navbar.css';
@import '../partials/card.css';

@import '../partials/card.css';

#art1[data-aos] {
    transition-delay: 0.1s;
}

#art2[data-aos] {
    transition-delay: 0.2s;
}

#art3[data-aos] {
    transition-delay: 0.3s;
}