:root {
    --primary-color: #6059F7;
    --secondary-color: #6592FE;
    --accent-color: #36C3FE;
    --dark-color: #3D3D3D;
    --light-color: #F2F2F2;
    --success-color: #FFF;
    --danger-color: #FFF;
    --warning-color: #FFF;
}
