main{
    margin-top: 70px;
}

body{
    /* background-color: #f2f5fc; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--dark-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}