.card-body {
    background-color: #F2F2F2;
}

.img-cover {
    object-fit: cover;
}

.card{
    border: none;
    box-shadow: 1px 1px 5px #dadce3;
    width: 100%;
}

.card-title{
    font-weight: 500;
}