.chat-drawer:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.chat-drawer a div img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.chat-drawer a div div {
    text-overflow: ellipsis;
}

.chat-drawer adiv div small {
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-drawer a div div p {
    overflow: hidden;
    text-overflow: ellipsis;
}