@import url('../configuration/colors.css');
@import url('../third-party/button.css');

input[type="text"],
input[type="text"]:focus,
input[type="email"],
input[type="email"]:focus,
input[type="password"],
input[type="password"]:focus {
    background-color: var(--light-color);
    box-shadow: none;
    outline: solid 1px var(--light-color);
    outline-offset: -1px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: solid 1px var(--primary-color);
    transition: outline .7s;
}

/* .btn, .btn:hover, .btn:active {
    background-color: var(--primary-color);
} */

/* button[type="submit"],
button[type="submit"]:hover,
button[type="submit"]:focus,
button[type="submit"]:active,
button[type="submit"]:visited {
    background-color: var(--primary-color);
    border: none;
} */
