@import '../configuration/colors.css';

.navbar {
    background-color: var(--primary-color);
    /* Esto le afecta a la vista de chat */
    /* position: fixed; */
    /* min-height: 68px; */
    z-index: 3;
}

.navbar-brand {
    color: var(--light-color);
    font-size: 25px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 70px;
}

.badge-notification {
    position: absolute;
    top: -20%;
    right: -20%;
    font-size: 10px
}

.nav-link:hover {
    color: var(--accent-color) !important;
}

.profile-picture {
    object-fit: cover;
    transition: all 200ms ease;
    transition-property: filter;
}

.profile-picture:hover {
    filter: brightness(50%);
    transition: all 200ms ease;
    transition-property: filter;
}