@import url('../configuration/colors.css');

nav {
    background-color: var(--primary-color);
}

.navbar-brand{
    color: var(--light-color);
    font-size: 25px;
    font-weight: 500;
    margin-left: 30px;
}