.sidebar{
    position: fixed;
    top:70px;
    left:0;
    width: 280px;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
}

.nav-link{
    color:var(--dark-color)
}

.sidebar li a.active{
    background-color: var(--secondary-color)!important;
}

.sidebar li a:hover{
    color: var(--accent-color)!important;
}

.sidebar li a{
    font-size: 20px;
}

.sidebar li a i{
    margin-right: 10px;
}

.sidebar .nav{
    padding: 20px 0;
}

.sidebar li{
    margin-top: 10px;
}