<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../client/styles/pages/admin-categories.css">
  <link rel="stylesheet" href="../node_modules/boxicons/css/boxicons.min.css">
  <script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

  <nav class="sticky-top navbar navbar-expand-lg bg-primary shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="home.html">Cursotopia</a>
      <button class="border-0 shadow-none navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="text-white bx-sm bx bx-menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="col-auto col-lg-6" role="search" action="search.html">
          <div class="input-group">
            <input class="form-control bg-white" type="search" placeholder="Buscar cursos..." aria-label="Search">
            <button class="btn btn-white border-0 search-btn" type="submit"><i
                class="fw-bold bx bx-search"></i></button>
          </div>
        </form>
        <ul class="navbar-nav ms-auto d-lg-flex align-items-lg-center me-2">
          <li class="nav-item">
            <a href="course-creation.html" class="nav-link text-light">
              Crear curso
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Categorías
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="search.html">Arte</a></li>
              <li><a class="dropdown-item" href="search.html">Música</a></li>
              <li><a class="dropdown-item" href="search.html">Programación</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="chat.html">
              <i class="bx-sm bx bxs-bell position-relative">
                <span class="badge rounded-pill badge-notification bg-danger">1</span>
              </i>
            </a>
          </li>
          <li class="nav-item">
            <div class="nav-link dropdown">
              <button class="btn border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../client/assets/images/perfil.png" alt="mdo" width="32" class="rounded-circle">
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="instructor-profile.html">Mi perfil</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto collapse d-lg-block col-md-3 col-xl-2 px-sm-2 px-0 bg-primary">
        <div class="text-white" style="min-height: calc(100vh - 64px);">

          <ul class="nav nav-pills flex-column mb-auto nav-list sidebar">
            <li class="nav-item">
              <a href="admin-home.html" class="nav-link text-white" aria-current="page">
                <i class='bx bxs-home'></i>
                Home
              </a>
            </li>
            <li>
              <a href="admin-courses.html" class="nav-link text-white">
                <i class='bx bxs-videos'></i>
                Cursos
              </a>
            </li>
            <li>
              <a href="admin-categories.html" class="nav-link text-white active">
                <i class='bx bxs-category'></i>
                Categorias
              </a>
            </li>
            <li>
              <a href="blocked-users.html" class="nav-link text-white">
                <i class='bx bxs-group'></i>
                Usuarios
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col py-3">

        <div class="container mt-3">
          <div class="row">
            <h2>Categorias</h2>
          </div>

          <div class="row">
            <div class="categories-table col-8 me-3 mt-4">
              <h4>Categorias pendientes de revisión</h4>
              <div class="row pt-3" id="no-more-tables">
                <table class="table table-borderless">
                  <thead class="border-bottom text-center">
                    <tr>
                      <th>Curso</th>
                      <th>Usario</th>
                      <th>Detalle</th>
                      <th>Aceptar/Declinar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td data-title="Curso">BDM</td>
                      <td data-title="Usuario">Denisse Cardoza</td>
                      <td data-title="Detalle"><button class="btn btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#seeCategory">Ver detalles</button></td>
                      <td data-title="Aceptar/Declinar"><button class="btn"><i
                            class='bx bxs-check-circle'></i></button><button class="btn"><i
                            class='bx bxs-x-circle'></i></button></td>
                    </tr>
                    <tr class="text-center">
                      <td data-title="Curso">BDM</td>
                      <td data-title="Usuario">Denisse Cardoza</td>
                      <td data-title="Detalle"><button class="btn btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#seeCategory">Ver detalles</button></td>
                      <td data-title="Aceptar/Declinar"><button class="btn"><i
                            class='bx bxs-check-circle'></i></button><button class="btn"><i
                            class='bx bxs-x-circle'></i></button></td>
                    </tr>
                    <tr class="text-center">
                      <td data-title="Curso">BDM</td>
                      <td data-title="Usuario">Denisse Cardoza</td>
                      <td data-title="Detalle"><button class="btn btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#seeCategory">Ver detalles</button></td>
                      <td data-title="Aceptar/Declinar"><button class="btn"><i
                            class='bx bxs-check-circle'></i></button><button class="btn"><i
                            class='bx bxs-x-circle'></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="categories col-3 mt-4">
              <h4 class="text-center mb-4">Categorias</h4>
              <div class="d-flex">
                <p class="">Programación</p>
                <button class="btn ms-auto" data-bs-toggle="modal" data-bs-target="#editCategory"><i
                    class='bx bxs-pencil'></i></button>
                <button class="btn p-0"><i class='bx bxs-x-circle'></i></button>
              </div>
              <div class="d-flex">
                <p class="">Cocina</p>
                <button class="btn ms-auto" data-bs-toggle="modal" data-bs-target="#editCategory"><i
                    class='bx bxs-pencil'></i></button>
                <button class="btn p-0"><i class='bx bxs-x-circle'></i></button>
              </div>
            </div>
            <div class="disabled-categories-table col-11 me-3 mt-4 mb-4">
              <h4>Categorias desactivadas</h4>
              <div class="row pt-3" id="no-more-tables">
                <table class="table table-borderless">
                  <thead class="border-bottom text-center">
                    <tr>
                      <th>Categoría</th>
                      <th>Usario</th>
                      <th>Detalle</th>
                      <th>Activar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td data-title="Categoría">BDM</td>
                      <td data-title="Usuario">Denisse Cardoza</td>
                      <td data-title="Detalle"><button class="btn btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#seeCategory">Ver detalles</button></td>
                      <td data-title="Activar"><button class="btn btn-secondary">Activar</button></td>
                    </tr>
                    <tr class="text-center">
                      <td data-title="Categoría">BDM</td>
                      <td data-title="Usuario">Denisse Cardoza</td>
                      <td data-title="Detalle"><button class="btn btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#seeCategory">Ver detalles</button></td>
                      <td data-title="Activar"><button class="btn btn-secondary">Activar</button></td>
                    </tr>
                    <tr class="text-center">
                      <td data-title="Categoría">BDM</td>
                      <td data-title="Usuario">Denisse Cardoza</td>
                      <td data-title="Detalle"><button class="btn btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#seeCategory">Ver detalles</button></td>
                      <td data-title="Activar"><button class="btn btn-secondary">Activar</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>



      </div>
    </div>
  </div>





  <main class="d-flex flex-nowrap">

    <div class="sidebar d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="admin-home.html" class="nav-link text-white" aria-current="page">
            <i class='bx bxs-home'></i>
            Home
          </a>
        </li>
        <li>
          <a href="admin-courses.html" class="nav-link text-white">
            <i class='bx bxs-videos'></i>
            Cursos
          </a>
        </li>
        <li>
          <a href="admin-categories.html" class="nav-link text-white active">
            <i class='bx bxs-category'></i>
            Categorias
          </a>
        </li>
        <li>
          <a href="blocked-users.html" class="nav-link text-white">
            <i class='bx bxs-group'></i>
            Usuarios
          </a>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="container mt-3">
        <div class="row">
          <h2>Categorias</h2>
        </div>

        <div class="row">
          <div class="categories-table col-8 me-3 mt-4">
            <h4>Categorias pendientes de revisión</h4>
            <div class="row pt-3" id="no-more-tables">
              <table class="table table-borderless">
                <thead class="border-bottom text-center">
                  <tr>
                    <th>Curso</th>
                    <th>Usario</th>
                    <th>Detalle</th>
                    <th>Aceptar/Declinar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td data-title="Curso">BDM</td>
                    <td data-title="Usuario">Denisse Cardoza</td>
                    <td data-title="Detalle"><button class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#seeCategory">Ver detalles</button></td>
                    <td data-title="Aceptar/Declinar"><button class="btn"><i
                          class='bx bxs-check-circle'></i></button><button class="btn"><i
                          class='bx bxs-x-circle'></i></button></td>
                  </tr>
                  <tr class="text-center">
                    <td data-title="Curso">BDM</td>
                    <td data-title="Usuario">Denisse Cardoza</td>
                    <td data-title="Detalle"><button class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#seeCategory">Ver detalles</button></td>
                    <td data-title="Aceptar/Declinar"><button class="btn"><i
                          class='bx bxs-check-circle'></i></button><button class="btn"><i
                          class='bx bxs-x-circle'></i></button></td>
                  </tr>
                  <tr class="text-center">
                    <td data-title="Curso">BDM</td>
                    <td data-title="Usuario">Denisse Cardoza</td>
                    <td data-title="Detalle"><button class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#seeCategory">Ver detalles</button></td>
                    <td data-title="Aceptar/Declinar"><button class="btn"><i
                          class='bx bxs-check-circle'></i></button><button class="btn"><i
                          class='bx bxs-x-circle'></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="categories col-3 mt-4">
            <h4 class="text-center mb-4">Categorias</h4>
            <div class="d-flex">
              <p class="">Programación</p>
              <button class="btn ms-auto" data-bs-toggle="modal" data-bs-target="#editCategory"><i
                  class='bx bxs-pencil'></i></button>
              <button class="btn p-0"><i class='bx bxs-x-circle'></i></button>
            </div>
            <div class="d-flex">
              <p class="">Cocina</p>
              <button class="btn ms-auto" data-bs-toggle="modal" data-bs-target="#editCategory"><i
                  class='bx bxs-pencil'></i></button>
              <button class="btn p-0"><i class='bx bxs-x-circle'></i></button>
            </div>
          </div>
          <div class="disabled-categories-table col-11 me-3 mt-4 mb-4">
            <h4>Categorias desactivadas</h4>
            <div class="row pt-3" id="no-more-tables">
              <table class="table table-borderless">
                <thead class="border-bottom text-center">
                  <tr>
                    <th>Categoría</th>
                    <th>Usario</th>
                    <th>Detalle</th>
                    <th>Activar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td data-title="Categoría">BDM</td>
                    <td data-title="Usuario">Denisse Cardoza</td>
                    <td data-title="Detalle"><button class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#seeCategory">Ver detalles</button></td>
                    <td data-title="Activar"><button class="btn btn-secondary">Activar</button></td>
                  </tr>
                  <tr class="text-center">
                    <td data-title="Categoría">BDM</td>
                    <td data-title="Usuario">Denisse Cardoza</td>
                    <td data-title="Detalle"><button class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#seeCategory">Ver detalles</button></td>
                    <td data-title="Activar"><button class="btn btn-secondary">Activar</button></td>
                  </tr>
                  <tr class="text-center">
                    <td data-title="Categoría">BDM</td>
                    <td data-title="Usuario">Denisse Cardoza</td>
                    <td data-title="Detalle"><button class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#seeCategory">Ver detalles</button></td>
                    <td data-title="Activar"><button class="btn btn-secondary">Activar</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </div>
    </div>
  </main>

  <!-- Modal categoria ver detalles-->
  <div class="modal fade" id="seeCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Añadir categoría</h4>
        </div>
        <div class="modal-body">
          <label for="category-name-input" class="form-label">Nombre</label>
          <input readonly type="text" class="form-control" id="category-name-input">
          <label for="category-description-input" class="form-label">Descripción</label>
          <textarea readonly class="form-control" id="category-description-input" rows="3"></textarea>
        </div>
        <div class="modal-footer">
          <button id="close-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal editar categoria-->
  <div class="modal fade" id="editCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Categoría</h4>
        </div>
        <div class="modal-body">
          <label for="category-name-input" class="form-label">Nombre</label>
          <input type="read" class="form-control" id="category-name-input">
          <label for="category-description-input" class="form-label">Descripción</label>
          <textarea class="form-control" id="category-description-input" rows="3"></textarea>
        </div>
        <div class="modal-footer">
          <button id="close-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="save-btn" type="button" class="btn btn-secondary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="container-fluid mt-auto bg-primary">
    <footer class="py-3 footer">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0">&copy; 2023 Cursotopia. Todos los derechos reservados.</span>
      </div>
    </footer>
  </div>

  </div>

</body>

</html>