<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../node_modules/boxicons/css/boxicons.min.css">
  <link rel="stylesheet" href="../dist/assets/certificate.css">
  <script defer type="module" src="../dist/javascript/certificate.js"></script>
</head>
<body>
  <nav class="sticky-top navbar navbar-expand-lg bg-primary shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="home.html">Cursotopia</a>
      <button class="border-0 shadow-none navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="text-white navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="col-auto col-lg-7" role="search">
          <div class="input-group">
            <input class="form-control bg-white" type="search" placeholder="Buscar cursos..."
              aria-label="Search">
            <button class="btn btn-light border-0" type="submit"><i class="fw-bold bx bx-search"></i></button>
          </div>
        </form>
        <ul class="navbar-nav ms-auto d-lg-flex align-items-lg-center me-2">
          <li class="nav-item">
            <a href="create-course.html" class="nav-link text-light fw-bold">
              Crear curso
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light fw-bold dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Categorías
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="search.html">Arte</a></li>
              <li><a class="dropdown-item" href="search.html">Música</a></li>
              <li><a class="dropdown-item" href="search.html">Programación</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="chat.html">
              <i class="bx-sm bx bxs-bell position-relative">
                <span class="badge rounded-pill badge-notification bg-danger">1</span>
              </i>
            </a>
          </li>
          <li class="nav-item">
            <div class="nav-link dropdown">
              <button class="btn border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../client/assets/images/perfil.png" alt="mdo" width="36" class="rounded-circle">
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="instructor-profile.html">Mi perfil</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="container">
    <img
      src="../client/assets/images/certificate.png"
      alt="Certificado"
      class="img-fluid w-100 h-100 mb-4"
      id="certificate"
    >
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary me-3">Compartir en Facebook</button>
      <button class="btn btn-primary">Descargar como PDF</button>
    </div>
  </section>
</body>

</html>