<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="sticky-top navbar navbar-expand-lg bg-white shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <main class="container-fluid">
    <div class="row" style="height: calc(100vh - 56px)">
      <section class="d-md-block d-none col-12 col-md-3 card overflow-auto" style="height: calc(100vh - 56px)">
        <input type="search" name="search" class="form-control my-3">
        <div class="d-flex chat rounded-1 p-1" role="button">
          <img style="width: 64px; height: 64px" class="img-fluid rounded-circle"
            src="https://upload.wikimedia.org/wikipedia/commons/1/16/Saul_Goodman.jpg">
          <div class="row ms-2 align-self-center"
            style="white-space: nowrap; width: 75%; text-overflow: ellipsis; overflow: hidden;">
            <span class="fw-bold">username</span>
            <small>email</small>
          </div>
        </div>
        <div class="d-flex chat rounded-1 p-1" role="button">
          <img style="width: 64px; height: 64px" class="img-fluid rounded-circle"
            src="https://upload.wikimedia.org/wikipedia/commons/1/16/Saul_Goodman.jpg">
          <div class="row ms-2 align-self-center"
            style="white-space: nowrap; width: 75%; text-overflow: ellipsis; overflow: hidden;">
            <span class="fw-bold">username</span>
            <small>email</small>
          </div>
        </div>
        <div class="d-flex chat rounded-1 p-1" role="button">
          <img style="width: 64px; height: 64px" class="img-fluid rounded-circle"
            src="https://upload.wikimedia.org/wikipedia/commons/1/16/Saul_Goodman.jpg">
          <div class="row ms-2 align-self-center"
            style="white-space: nowrap; width: 75%; text-overflow: ellipsis; overflow: hidden;">
            <span class="fw-bold">username</span>
            <small>email</small>
          </div>
        </div>
        <div class="d-flex chat rounded-1 p-1" role="button">
          <img style="width: 64px; height: 64px" class="img-fluid rounded-circle"
            src="https://upload.wikimedia.org/wikipedia/commons/1/16/Saul_Goodman.jpg">
          <div class="row ms-2 align-self-center"
            style="white-space: nowrap; width: 75%; text-overflow: ellipsis; overflow: hidden;">
            <span class="fw-bold">username</span>
            <small>email</small>
          </div>
        </div>
        <div class="d-flex chat rounded-1 p-1" role="button">
          <img style="width: 64px; height: 64px" class="img-fluid rounded-circle"
            src="https://upload.wikimedia.org/wikipedia/commons/1/16/Saul_Goodman.jpg">
          <div class="row ms-2 align-self-center"
            style="white-space: nowrap; width: 75%; text-overflow: ellipsis; overflow: hidden;">
            <span class="fw-bold">username</span>
            <small>email</small>
          </div>
        </div>
        <div class="d-flex chat rounded-1 p-1" role="button">
          <img style="width: 64px; height: 64px" class="img-fluid rounded-circle"
            src="https://upload.wikimedia.org/wikipedia/commons/1/16/Saul_Goodman.jpg">
          <div class="row ms-2 align-self-center"
            style="white-space: nowrap; width: 75%; text-overflow: ellipsis; overflow: hidden;">
            <span class="fw-bold">username</span>
            <small>email</small>
          </div>
        </div>
        <div class="d-flex chat rounded-1 p-1" role="button">
          <img style="width: 64px; height: 64px" class="img-fluid rounded-circle"
            src="https://upload.wikimedia.org/wikipedia/commons/1/16/Saul_Goodman.jpg">
          <div class="row ms-2 align-self-center"
            style="white-space: nowrap; width: 75%; text-overflow: ellipsis; overflow: hidden;">
            <span class="fw-bold">username</span>
            <small>email</small>
          </div>
        </div>
        <div class="d-flex chat rounded-1 p-1" role="button">
          <img style="width: 64px; height: 64px" class="img-fluid rounded-circle"
            src="https://upload.wikimedia.org/wikipedia/commons/1/16/Saul_Goodman.jpg">
          <div class="row ms-2 align-self-center"
            style="white-space: nowrap; width: 75%; text-overflow: ellipsis; overflow: hidden;">
            <span class="fw-bold">username</span>
            <small>email</small>
          </div>
        </div>
        <div class="d-flex chat rounded-1 p-1" role="button">
          <img style="width: 64px; height: 64px" class="img-fluid rounded-circle"
            src="https://upload.wikimedia.org/wikipedia/commons/1/16/Saul_Goodman.jpg">
          <div class="row ms-2 align-self-center"
            style="white-space: nowrap; width: 75%; text-overflow: ellipsis; overflow: hidden;">
            <span class="fw-bold">username</span>
            <small>email</small>
          </div>
        </div>
        <div class="d-flex chat rounded-1 p-1" role="button">
          <img style="width: 64px; height: 64px" class="img-fluid rounded-circle"
            src="https://upload.wikimedia.org/wikipedia/commons/1/16/Saul_Goodman.jpg">
          <div class="row ms-2 align-self-center"
            style="white-space: nowrap; width: 75%; text-overflow: ellipsis; overflow: hidden;">
            <span class="fw-bold">username</span>
            <small>email</small>
          </div>
        </div>
        <div class="d-flex chat rounded-1 p-1" role="button">
          <img style="width: 64px; height: 64px" class="img-fluid rounded-circle"
            src="https://upload.wikimedia.org/wikipedia/commons/1/16/Saul_Goodman.jpg">
          <div class="row ms-2 align-self-center"
            style="white-space: nowrap; width: 75%; text-overflow: ellipsis; overflow: hidden;">
            <span class="fw-bold">username</span>
            <small>email</small>
          </div>
        </div>
        <div class="d-flex chat rounded-1 p-1" role="button">
          <img style="width: 64px; height: 64px" class="img-fluid rounded-circle"
            src="https://upload.wikimedia.org/wikipedia/commons/1/16/Saul_Goodman.jpg">
          <div class="row ms-2 align-self-center"
            style="white-space: nowrap; width: 75%; text-overflow: ellipsis; overflow: hidden;">
            <span class="fw-bold">username</span>
            <small>email</small>
          </div>
        </div>
      </section>
      <section class="col-12 col-md-9 card overflow-auto" style="height: calc(100vh - 56px)">
        <div class="d-flex justify-content-between mt-3">
          <div class="d-block text-decoration-none text-brown">
            <span class="ms-2 text-black"><b></b></span>
          </div>
        </div>
        <hr>
        <div class="overflow-auto p-2 h-100" id="comment-box">
          <div class="d-flex justify-content-end my-3">
            <small class="bg-primary text-light p-2 rounded-2 overflow-auto">message.content</small>
          </div>
          <div class="d-flex justify-content-end my-3">
            <small class="bg-primary text-light p-2 rounded-2 overflow-auto">message.content</small>
          </div>
          <div class="d-flex justify-content-end my-3">
            <small class="bg-primary text-light p-2 rounded-2 overflow-auto">message.content</small>
          </div>
          <div class="d-flex justify-content-end my-3">
            <small class="bg-primary text-light p-2 rounded-2 overflow-auto">message.content</small>
          </div>
          <div class="d-flex justify-content-start my-3">
            <small class="bg-secondary text-light p-2 rounded-2 overflow-auto">message.content</small>
          </div>
        </div>
        <hr class="text-light">
        <div class="input-group mb-3">
          <input id="message" type="text" class="form-control shadow-none" placeholder="Recipient's username"
            aria-label="Recipient's username" aria-describedby="basic-addon2">
          <button class="btn btn-orange shadow-none" id="send-message">Enviar</button>
        </div>
      </section>
    </div>
  </main>
</body>
</html>