<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cursotopia</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
	<main>
		<h1>Título del curso</h1>
		<h2>Creador del curso</h2>

		<h2>Descripción del curso</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est amet, velit vero eaque tempora, aliquid error natus adipisci quaerat mollitia nemo nisi ipsa expedita aliquam esse! Beatae, totam similique?</p>
	
		<h2>Reseñas</h2>

		<h2>Deja tu valoración</h2>
		<textarea name="comment" id="comment" cols="50" rows="5" class=""></textarea>
	
	</main>
</body>
</html>