<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Cursotopia</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../node_modules/boxicons/css/boxicons.min.css">
	<link rel="stylesheet" href="../dist/assets/course-edition.css">
	<script defer type="module" src="../dist/javascript/course-edition.js"></script>
</head>

<body>
	<nav class="sticky-top navbar navbar-expand-lg bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand text-light" href="home.html">Cursotopia</a>
			<button class="border-0 shadow-none navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="text-white navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form class="col-auto col-lg-7" role="search">
					<div class="input-group">
						<input class="form-control bg-white" type="search" placeholder="Buscar cursos..." aria-label="Search">
						<button class="btn btn-light border-0" type="submit"><i class="fw-bold bx bx-search"></i></button>
					</div>
				</form>
				<ul class="navbar-nav ms-auto d-lg-flex align-items-lg-center me-2">
					<li class="nav-item">
						<a href="course-creation.html" class="nav-link text-light fw-bold">
							Crear curso
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link text-light fw-bold dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Categorías
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="search.html">Arte</a></li>
							<li><a class="dropdown-item" href="search.html">Música</a></li>
							<li><a class="dropdown-item" href="search.html">Programación</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" aria-current="page" href="chat.html">
							<i class="bx-sm bx bxs-bell position-relative">
								<span class="badge rounded-pill badge-notification bg-danger">1</span>
							</i>
						</a>
					</li>
					<li class="nav-item">
						<div class="nav-link dropdown">
							<button class="btn border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="../client/assets/images/perfil.png" alt="mdo" width="36" class="rounded-circle">
							</button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" href="instructor-profile.html">Mi perfil</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Main section -->
	<section class="container my-4">
		<div class="row border-3 border-bottom border-primary text-center mb-3">
			<h1 class="h1">Editar curso</h1>
		</div>
		<form action="#" class="row">
			<div class="row mx-0">
				<div class="col-md-6 col-12">
					<div class="mb-4">
						<label for="title" class="form-label" role="button">Título</label>
						<input type="text" name="title" id="title" class="form-control">
					</div>
					<div class="mb-4">
						<label for="description" class="form-label" role="button">Descripción</label>
						<textarea name="description" id="description" cols="30" rows="3" class="form-control"></textarea>
					</div>

					<div class="form-check">
						<input class="form-check-input shadow-none" type="checkbox" value="" id="free-course-checkbox">
						<label class="form-check-label" for="free-course-checkbox">El curso será gratis</label>
					</div>
					<div class="mb-4" id="price-group">
						<label class="form-label pt-2" for="price" role="button">Precio</label>
						<input type="number" name="price" id="price" class="form-control">
					</div>

					<div class="mb-3">
						<label class="form-label">Categorías</label>
						<select class="" id="categories" name="categories[]" multiple="multiple" placeholder="Seleccionar">
							<option value="1">Música</option>
							<option value="2">Arte</option>
							<option value="3">Programación</option>
						</select>
					</div>
					<div class="col-sm-4 col-xs-4 col-md-5 col-xl-4">
						<button type="button" id="add-category-btn" class="btn btn-secondary btn-sm m-auto" data-bs-toggle="modal"
							data-bs-target="#addCategory">Añadir categoria</button>
					</div>
				</div>

				<label for="upload-img-input" class="center col-md-6 col-12 image-container">
					<label class="form-label">Portada</label>
					<div class="rounded-3 ratio ratio-16x9 text-center img-area" role="button">
						<!--
								<div class="d-flex justify-content-center align-items-center">
									<div>
										<i class="bx bxs-cloud-upload icon"></i>
										<h3>Subir imagen</h3>
									</div>
								</div>
								-->
						<img src="../client/assets/images/city.jpg" alt="" class="img-fluid rounded-3">
						<input id="upload-img-input" type="file" class="d-none form-control mt-3">
					</div>
				</label>
			</div>

			<section class="my-5">
				<div class="pb-2 d-flex align-items-center">
					<h3 class="me-4 mb-0">Niveles</h3>
					<button id="add-level-btn" type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal"
						data-bs-target="#addLevel">Añadir nivel</button>
				</div>
				<div class="level">
					<div class="border-0 card shadow-none">
						<div class="rounded-top bg-light card-header">
							<div class="row align-items-center">
								<div class="col-9">
									<label for="">Nivel 1: Introducción</label>
								</div>
								<div class="col-3 text-lg-end text-center">
									<button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal"
										data-bs-target="#add-lesson">Añadir lección</button>
									<span class="d-lg-inline d-block text-lg-end text-center">
										<a id="edit-level-btn" href="#" class="btn text-success m-auto p-1" data-bs-toggle="modal"
											data-bs-target="#editLevel"><i class='bx bxs-pencil'></i></a>
										<a id="delete-level-btn" href="#" class="btn text-danger m-auto p-1"><i
												class='bx bxs-trash-alt'></i></a>
										<a class="btn text-primary m-auto p-1" href="#collapseExample1" data-bs-toggle="collapse"
											role="button" aria-expanded="false" aria-controls="collapseExample">
											<i class='bx bxs-chevron-down'></i>
									</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="collapse" id="collapseExample1">
						<ul class="list-group list-group-flush">
							<li class="list-group-item d-flex align-items-center justify-content-between">
								<span>Lección 1: Introducción al curso
								</span>
								<span>
									<a id="edit-level-btn" href="#" class="btn m-auto p-1" data-bs-toggle="modal"
										data-bs-target="#editLevel"><i class='bx bxs-pencil'></i></a>
									<a id="delete-level-btn" href="#" class="btn text-danger m-auto p-1"><i
											class='bx bxs-trash-alt'></i></a>
								</span>
							</li>
							<li class="list-group-item d-flex align-items-center justify-content-between">
								<span>Lección 2: Sobre Java
								</span>
								<span>
									<a id="edit-level-btn" href="#" class="btn m-auto p-1" data-bs-toggle="modal"
										data-bs-target="#editLevel"><i class='bx bxs-pencil'></i></a>
									<a id="delete-level-btn" href="#" class="btn text-danger m-auto p-1"><i
											class='bx bxs-trash-alt'></i></a>
								</span>
							</li>
							<li class="list-group-item d-flex align-items-center justify-content-between">
								<span>Lección 3: Sobre POO
								</span>
								<span>
									<a id="edit-level-btn" href="#" class="btn m-auto p-1" data-bs-toggle="modal"
										data-bs-target="#editLevel"><i class='bx bxs-pencil'></i></a>
									<a id="delete-level-btn" href="#" class="btn text-danger m-auto p-1"><i
											class='bx bxs-trash-alt'></i></a>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<div class="d-flex">
				<button type="submit" class="btn btn-primary w-100">Crear curso</button>
			</div>
		</form>

		



	</section>
</body>

</html>