<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cursotopia</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../client/styles/pages/course-visor.css">
	<script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../node_modules/boxicons/css/boxicons.min.css">
	<script defer type="module" src="../dist/javascript/course-visor.js"></script>
</head>

<body>
	<!-- Navbar -->
	<nav class="sticky-top navbar navbar-expand-lg bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Cursotopia</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form class="col-auto col-lg-6" role="search">
					<div class="input-group">
						<input class="form-control border-0 shadow-none" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-light" type="submit"><i class="fw-bold bx bx-search"></i></button>
					</div>
				</form>
				<ul class="navbar-nav ms-auto d-flex align-items-center me-2">
					<li class="nav-item">
						<a class="nav-link text-light position-relative" aria-current="page" href="#">
							<i class="bx-sm bx bxs-bell"></i>
							<span class="badge rounded-pill badge-notification bg-danger"
								style="position: absolute; top: 3px; right: 1px; font-size: 10px">1</span>
						</a>
					</li>
					<li class="nav-item">
						<div class="nav-link dropdown">
							<button class="btn border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="../client/assets/images/perfil.png" alt="mdo" width="36" class="rounded-circle">
							</button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" href="instructor-profile.html">Perfil</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="#">Sign out</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Contenido -->
	<section class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-sm-12 mt-3">
				<h4>Nombre de la lección</h4>
				
					<video id="level-video" class="video-js " controls>
						<source src="https://www.w3schools.com/html/mov_bbb.mp4">
					</video>
				
				<div class="row mt-3">
					<h5 id="level-title">Nivel #: Nombre del curso</h5>
				</div>
				<div class="row mt-3">
					<div class="col-lg-12">
						<button class="btn btn-secondary mt-2 me-3" type="submit" id="next-level-btn">Siguiente nivel</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12 ms-auto pe-0">
				<div class="row">
					<div class="col-12 mt-5">
						<h4>Archivos y enlaces</h4>
					</div>
				</div>
				<div class="row mt-3 mb-5 me-1">
					<div class="col-lg-12 d-flex">
						<div class="card">
							<div class="card-body d-flex">
								<div class="container">
									<div class="row">
										<div class=" col-xs-12 col-sm-8">
											<label id="file-title" class="form-label card-titlepe-5">Card title</label>
										</div>
										<div class=" col-xs-12 col-sm-4 ms-auto">
											<a id="download-file-btn" href="#" class="btn btn-secondary m-auto">Descargar</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<div class="container-fluid mt-auto bg-primary">
		<footer class="py-3 footer">
			<div class="col-md-4 d-flex align-items-center">
				<span class="mb-3 mb-md-0">&copy; 2023 Cursotopia. Todos los derechos reservados.</span>
			</div>
		</footer>
	</div>

</body>

</html>