<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../client/styles/pages/course-visor.css">
  <script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="py-3 mb-3 border-bottom">
      <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 text-decoration-none navbar-brand" id="navbar-logo">
          Cursotopia
        </a>
        <div class="d-flex align-items-center">
          <form class="w-100 me-3" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search" id="searchbar">
          </form>
          <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../client/assets/images/perfil.png" alt="mdo" width="32" height="32" class="rounded-circle" id="profile-img">
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="#" id="login-navbar-btn">Iniciar sesión</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#" id="register-navbar-btn">Registrarse</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- Contenido -->
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-7 col-sm-12">
                <div class="row">
                    <div class="col-sm-7 col-md-8 col-xxl-9 col-xs-7">
                        <h4>Nombre del curso</h4>
                        <h6>Nombre del instructor</h6>
                    </div>
                    <div class="col-sm-5 col-md-4 col-xxl-3 col-xs-5 ms-auto">
                        <button class="btn btn-secondary" id="certificate-btn">Obtener certificado</button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <video controls>
                            <source id="level-video" src=".." type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="row-12 mt-3">
                    <h5 id="level-title">Nivel #: Nombre del curso</h5>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <button class="btn btn-secondary mt-2 me-3" type="submit" id="next-level-btn">Siguiente nivel</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12 ms-auto pe-0">
                <div class="row">
                    <div class="col-12 mt-5">
                        <h4>Archivos y enlaces</h4>
                    </div>
                </div>
                <div class="row mt-3 mb-5 me-1">
                    <div class="col-lg-12 d-flex"> 
                        <div class="card">
                            <div class="card-body d-flex">
                                <div class="container">
                                    <div class="row">
                                        <div class=" col-xs-12 col-sm-8">
                                            <label id="file-title" class="form-label card-titlepe-5">Card title</label>
                                        </div>
                                        <div class=" col-xs-12 col-sm-4 ms-auto">
                                            <a id="download-file-btn" href="#" class="btn btn-secondary m-auto">Descargar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <!-- Footer -->
    <div class="container-fluid mt-auto bg-primary">
        <footer class="py-3 footer">
          <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0">&copy; 2023 Cursotopia. Todos los derechos reservados.</span>
          </div>
        </footer>
    </div>

</body>
</html>