<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cursotopia</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../node_modules/boxicons/css/boxicons.min.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../client/styles/pages/create-course.css">
	<script type="module" src="../dist/javascript/create-course.js"></script>
</head>
<body>
	<!-- Navbar -->
	<nav class="sticky-top navbar navbar-expand-lg bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand text-light" href="home.html">Cursotopia</a>
			<button class="border-0 shadow-none navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="text-white navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form class="col-auto col-lg-7" role="search">
					<div class="input-group">
						<input class="form-control bg-white" type="search" placeholder="Buscar cursos..." aria-label="Search">
						<button class="btn btn-light border-0" type="submit"><i class="fw-bold bx bx-search"></i></button>
					</div>
				</form>
				<ul class="navbar-nav ms-auto d-lg-flex align-items-lg-center me-2">
					<li class="nav-item">
						<a href="course-creation.html" class="nav-link text-light fw-bold">
							Crear curso
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link text-light fw-bold dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Categorías
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="search.html">Arte</a></li>
							<li><a class="dropdown-item" href="search.html">Música</a></li>
							<li><a class="dropdown-item" href="search.html">Programación</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" aria-current="page" href="chat.html">
							<i class="bx-sm bx bxs-bell position-relative">
								<span class="badge rounded-pill badge-notification bg-danger">1</span>
							</i>
						</a>
					</li>
					<li class="nav-item">
						<div class="nav-link dropdown">
							<button class="btn border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="../client/assets/images/perfil.png" alt="mdo" width="36" class="rounded-circle">
							</button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><a class="dropdown-item" href="instructor-profile.html">Mi perfil</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Contenido -->
	<section class="container my-4 mb-3">
		<div class="row border-3 border-bottom border-primary text-center mb-3">
			<h1>Añadir curso</h1>
		</div>
		<form action="#" class="row" id="create-course-form">
			<div class="row mx-0">

				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="mb-4">
						<label for="title" class="form-label" role="button">Título</label>
						<input type="text" class="form-control" id="title" name="title">
					</div>
					<div class="mb-4">
						<label for="description" class="form-label" role="button">Descripción</label>
						<textarea class="form-control" id="description" rows="3" name="description"></textarea>
					</div>
					<div class="form-check">
						<input class="form-check-input shadow-none" type="checkbox" value="" id="free-course-checkbox">
						<label class="form-check-label" for="free-course-checkbox">El curso será gratis</label>
					</div>
					<div class="mb-4" id="price-group">
						<label class="form-label pt-2" for="price" role="button">Precio</label>
						<input type="number" name="price" id="price" class="form-control">
					</div>
					<div class="mb-3">
						<label class="form-label">Categorías</label>
						<select class="" id="categories" name="categories[]" multiple="multiple" placeholder="Seleccionar">
							<option value="1">Música</option>
							<option value="2">Arte</option>
							<option value="3">Programación</option>
						</select>
					</div>
					<div class="col-sm-4 col-xs-4 col-md-5 col-xl-4">
						<button type="button" id="add-category-btn" class="btn btn-secondary rounded-pill btn-sm m-auto" data-bs-toggle="modal"
							data-bs-target="#addCategory">Añadir categoria</button>
					</div>
				</div>

				<label for="upload-img-input" class="center col-md-6 col-sm-12 col-xs-12 image-container">
					<label class="form-label">Portada</label>
					<div class="rounded-3 ratio ratio-16x9 text-center img-area" role="button">
						<!--
							<div class="d-flex justify-content-center align-items-center">
								<div>
									<i class="bx bxs-cloud-upload icon"></i>
									<h3>Subir imagen</h3>
								</div>
							</div>
							-->
						<img src="../client/assets/images/city.jpg" alt="" class="img-fluid rounded-3">
						<input id="upload-img-input" type="file" class="d-none form-control mt-3">
					</div>
				</label>

			</div>

			<section class="my-5">
				<div class="py-2 d-flex">
					<h4 class="pe-4">Niveles</h4>
					<button id="add-level-btn" type="button" class="btn btn-secondary rounded-pill btn-sm" data-bs-toggle="modal"
						data-bs-target="#addLevel">Añadir nivel</button>
				</div>
				<div class="border-0 card shadow-none">
					<div class="rounded-top bg-light card-header">
						<div class="row align-items-center">
							<div class="col-9">
								<label for="">Nivel 1: Introducción</label>
							</div>
							<div class="col-3 text-lg-end text-center">
								<button type="button" class="btn btn-sm btn-secondary rounded-pill" data-bs-toggle="modal"
									data-bs-target="#add-lesson">Añadir lección</button>
								<span class="d-lg-inline d-block text-lg-end text-center">
									<a id="edit-level-btn" href="#" class="btn text-success m-auto p-1" data-bs-toggle="modal"
										data-bs-target="#editLevel"><i class='bx bxs-pencil'></i></a>
									<a id="delete-level-btn" href="#" class="btn text-danger m-auto p-1"><i
											class='bx bxs-trash-alt'></i></a>
									<a class="btn text-primary m-auto p-1" href="#collapseExample1" data-bs-toggle="collapse"
										role="button" aria-expanded="false" aria-controls="collapseExample">
										<i class='bx bxs-chevron-down'></i>
								</span>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="collapse" id="collapseExample1">
					<ul class="list-group list-group-flush">
						<li class="list-group-item d-flex align-items-center justify-content-between">
							<span>Lección 1: Introducción al curso
							</span>
							<span>
								<a id="edit-level-btn" href="#" class="btn m-auto p-1" data-bs-toggle="modal"
									data-bs-target="#editLevel"><i class='bx bxs-pencil'></i></a>
								<a id="delete-level-btn" href="#" class="btn text-danger m-auto p-1"><i
										class='bx bxs-trash-alt'></i></a>
							</span>
						</li>
						<li class="list-group-item d-flex align-items-center justify-content-between">
							<span>Lección 1: Sobre Java
							</span>
							<span>
								<a id="edit-level-btn" href="#" class="btn m-auto p-1" data-bs-toggle="modal"
									data-bs-target="#editLevel"><i class='bx bxs-pencil'></i></a>
								<a id="delete-level-btn" href="#" class="btn text-danger m-auto p-1"><i
										class='bx bxs-trash-alt'></i></a>
							</span>
						</li>
						<li class="list-group-item d-flex align-items-center justify-content-between">
							<span>Lección 3: Sobre POO
							</span>
							<span>
								<a id="edit-level-btn" href="#" class="btn m-auto p-1" data-bs-toggle="modal"
									data-bs-target="#editLevel"><i class='bx bxs-pencil'></i></a>
								<a id="delete-level-btn" href="#" class="btn text-danger m-auto p-1"><i
										class='bx bxs-trash-alt'></i></a>
							</span>
						</li>
					</ul>
				</div>
			</section>
			<div class="d-flex mb-5">
				<button type="submit" class="btn btn-primary rounded-pill w-100">Crear curso</button>
			</div>
		</form>
	</section>


	<!-- Modal añadir nivel-->
	<div class="modal fade" id="addLevel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form class="modal-dialog modal-lg rounded-1 border-0 shadow-none" id="create-level-form">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Añadir nivel</h4>
				</div>
				<div class="modal-body">

					<div class="mb-4">
						<label for="level-name" class="form-label" role="button">Nombre</label>
						<input type="text" name="name" id="level-name" class="form-control">
					</div>

					<div class="mb-4">
						<label for="level-description" class="form-label" role="button">Descripción</label>
						<textarea name="description" id="level-description" cols="30" rows="5" class="form-control"
							placeholder="¿Qué van a aprender los estudiantes en esta sección?"></textarea>
					</div>

					<div class="form-check">
						<input class="form-check-input shadow-none" type="checkbox" value="" id="free-lesson-checkbox">
						<label class="form-check-label" for="free-lesson-checkbox">El nivel será gratis</label>
					</div>

					<div class="mb-4">
						<label for="" class="form-label">Precio</label>
						<input type="number" name="price" id="price" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button id="close-btn" type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
					<button id="save-btn" type="submit" class="btn btn-primary">Agregar nivel</button>
				</div>
			</div>
		</form>
	</div>

	<!-- Modal editar nivel-->
	<div class="modal fade" id="editLevel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Editar nivel</h4>
				</div>
				<div class="modal-body">

					<div class="wrapper">
						<div class="box">
							<div class="mb-3">
								<h5>Nombre del nivel</h5>
								<input type="text" class="form-control">
							</div>

							<div class="input-bx">
								<h5 class="upload-area-title mb-2">Subir video</h5>
								<form action="">
									<input type="file" id="Upload" hidden>
									<label for="Upload" class="uploadlabel">
										<span class=""><i class='bx bxs-cloud-upload'></i></span>
										<p>Oprime para añadir</p>
									</label>
								</form>
							</div>

							<div id="filewrapper">
								<h4 class="uploaded">Videos</h4>
								<div class="showfilebox">
									<div class="left">
										<span class="filetype">Pdf</span>
										<h4>Ravi Web.pdf</h4>
									</div>
									<div class="right">
										<i class='bx bxs-x-circle'></i>
									</div>
								</div>
							</div>
							<div class="input-bx">
								<h5 class="upload-area-title mt-3 mb-2">Archivos y links</h5>
								<form action="">
									<input type="file" id="Upload" hidden>
									<label for="Upload" class="uploadbtn btn btn-secondary">
										<p>Añadir archivo</p>
									</label>
								</form>
							</div>
							<div class="d-flex mt-2 mb-2">
								<input type="text" class="form-control me-2" id="link-input">
								<button class="btn btn-secondary">Agregar link</button>
							</div>
							<div id="filewrapper">
								<h4 class="uploaded">Archivos</h4>
								<div class="showfilebox">
									<div class="left">
										<span class="filetype">Pdf</span>
										<h4>Ravi Web.pdf</h4>
									</div>
									<div class="right">
										<i class='bx bxs-x-circle'></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="close-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button id="save-btn" type="button" class="btn btn-secondary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal añadir lección -->
	<div class="modal fade" id="add-lesson" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form class="modal-dialog modal-lg rounded-1 border-0 shadow-none" id="add-lesson-form">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Añadir lección</h4>
				</div>
				<div class="modal-body">

					<div class="mb-4">
						<label class="form-label" role="button">Título</label>
						<input type="text" class="form-control">
					</div>

					<div class="mb-4">
						<label for="" role="button">Información adicional</label>
						<textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
					</div>

					<div class="mb-4">
						<label for="" role="button">Video</label>
						<input type="file" name="" id="" class="form-control">
					</div>

					<div class="mb-4">
						<label for="" role="button">Imágen</label>
						<input type="file" name="" id="" class="form-control">
					</div>

					<div class="mb-4">
						<label for="" role="button">PDF</label>
						<input type="file" name="" id="" class="form-control">
					</div>

					<div class="mb-4">
						<label for="" class="form-label" role="button">Enlace</label>
						<div class="mb-4">
							<label for="" role="button">Título</label>
							<input type="text" name="" id="" class="form-control" placeholder="Título descriptivo">
						</div>
						<div class="mb-4">
							<label for="" role="button">URL</label>
							<input type="url" name="" id="" class="form-control" placeholder="https://example.com">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="close-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button id="save-btn" type="button" class="btn btn-secondary">Agregar lección</button>
				</div>
			</div>
		</form>
	</div>

	<!-- Category Modal -->
	<div class="modal fade animate__animated animate__bounceInDown" id="addCategory" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<form class="modal-content rounded-1 border-0 shadow-sm" id="create-category-form">
				<div class="modal-header">
					<h4>Añadir categoría</h4>
				</div>
				<div class="modal-body">
					<div class="mb-4">
						<label for="category-name" class="form-label" role="button">Nombre</label>
						<input type="text" class="form-control" id="category-name" name="name" autocomplete="off">
					</div>
					<div class="mb-4">
						<label for="category-description" class="form-label" role="button">Descripción</label>
						<textarea class="form-control" id="category-description" name="description" rows="5"
							placeholder="¿Qué clase de cursos contendrá?"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button id="close-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<button id="save-btn" type="submit" class="btn btn-secondary">Agregar</button>
				</div>
			</form>
		</div>
	</div>
	</section>

	<footer class="page-footer p-5 bg-light">
    <div class="container-fluid">
      <div class="row text-md-start text-center">
        <div class="col-md-3 mx-auto mb-3">
          <ul class="list-unstyled">
            <li class="my-2">
              <a href=""><img src="../client/assets/images/logo.png" width="200" class="img-fluid" id="logo-banner" alt="Logo Banner"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Recursos</h5>
          <ul class="list-unstyled">
            <li class="my-2"><a href="#" class="text-primary text-decoration-none">Acerca de nosotros</a><br></li>
            <li class="my-2"><a href="#" class="text-primary text-decoration-none">Contáctanos</a><br></li>
            <li class="my-2"><a href="#" class="text-primary text-decoration-none">Preguntas frecuentes</a><br></li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Políticas</h5>
          <ul class="list-unstyled">
            <li class="my-2"><a href="#" class="text-primary text-decoration-none">Política de privacidad</a><br></li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Contacto</h5>
          <ul class="list-unstyled">
            <li class="my-2">
              <a href="https://www.facebook.com" target="_blank" class="text-primary text-decoration-none">
                <i class="fab fa-facebook-f text-cream me-3 h4"></i>Facebook
              </a>
            </li>
            <li class="my-2">
              <a href="https://www.instagram.com" target="_blank" class="text-primary text-decoration-none">
                <i class="fa fa-instagram text-cream me-3 h4" aria-hidden="true"></i>Instagram
              </a>
            </li>
            <li class="my-2">
              <a href="tel:(00)00000000" class="text-primary text-decoration-none">
                <i class="fa fa-phone text-primary me-3 h4"></i>(00)-0000-0000
              </a>
            </li>
            <li class="my-2">
              <a href="mailto:cursotopia@gmail.com.mx" class="text-primary text-decoration-none">
                <i class="fa fa-envelope text-primary me-3 h4"></i>Correo electrónico
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="row pt-5 pb-3 d-flex align-items-center">
          <div class="col-md-12  text-center">

          </div>
        </div>
      </div>
      <div class="container text-center img-responsive">
        <p class="text-cream mb-0">&copy; 2023 Curstopia. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
</body>

</html>