<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">

  <link rel="stylesheet" href="../client/styles/pages/home.css">

  <script defer type="module" src="../dist/javascript/home.js"></script>
  <link rel="stylesheet" href="../node_modules/boxicons/css/boxicons.min.css">
</head>
<body>
  <nav class="sticky-top navbar navbar-expand-lg shadow-sm">
    <div class="container-fluid">
      <div class="col-3">
        <a href="#" class="navbar-brand col-4 text-white link-white text-decoration-none">Cursotopia</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse me-auto" id="navbar-collapse">
        <form class="form-inline ms-xl-5 me-lg-auto w-50" role="search">
          <div class="input-group w-100">
            <input type="search" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search">
            <button class="btn btn-secondary" type="button"><i class='bx bx-search-alt-2'></i></button>
          </div>
        </form>
        <div class="dropdown col-2 ms-auto">
          <button class="btn  border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img 
              src="../client/assets/images/perfil.png"
              alt="mdo"
              width="36"
              class="rounded-circle">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="instructor-profile.html">Perfil</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Hero Section -->
  <section class="d-flex flex-column justify-content-center mb-5" id="hero-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up">
          <h1 class="fw-bolder text-center text-lg-start" style="font-size: 48px">Cursotopia</h1>
          <h5 class="text-center text-lg-start">Aprende todo lo que tu quieras, ¡al alcance de un click!</h5>
          <h5 class="mb-4 text-center text-lg-start">¡No tienes que salir de casa!</h5>
          <div class="d-flex justify-content-lg-start justify-content-center">
            <a href="login.html" class="btn btn-primary border-0 shadow-none rounded-5 w-50">¡Crea una cuenta gratis!</a>
          </div>
        </div>
        <div class="col-lg-6" data-aos="zoom-in-up">
          <img
            src="../client/assets/images/hero-banner.svg"
            class="img-fluid w-100 d-none d-lg-block" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="mb-5" data-aos="fade-up" id="section-categories">
    <h2 class="text-center fw-bold">Categorías</h2>
  </section>

  <section class="container mb-5" data-aos="fade-up">
    <h2 class="text-center fw-bolder">Últimos cursos publicados</h2>
    <hr>
    <div class="owl-carousel owl-theme">
      <div class="card bg-light border-0 shadow-none" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
      <div class="card bg-light border-0" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
      <div class="card bg-light border-0" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
      <div class="card bg-light border-0" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
      <div class="card bg-light border-0" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container mb-5" data-aos="fade-up">
    <h2 class="text-center fw-bolder">Los cursos mejor valorados</h2>
    <hr>
    <div class="owl-carousel owl-theme">
      <div class="card bg-light border-0" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
      <div class="card bg-light border-0" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
      <div class="card bg-light border-0" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
      <div class="card bg-light border-0" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
      <div class="card bg-light border-0" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container mb-5" data-aos="fade-up">
    <h2 class="text-center fw-bolder">Los cursos mejor vendidos</h2>
    <hr>
    <div class="owl-carousel owl-theme">
      <div class="card bg-light border-0 shadow-none" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
      <div class="card bg-light border-0 shadow-none" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
      <div class="card bg-light border-0 shadow-none" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
      <div class="card bg-light border-0 shadow-none" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
      <div class="card bg-light border-0 shadow-none" role="button">
        <div class="ratio ratio-16x9">
          <img 
            src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg"
            class="card-img-top img-cover"
            alt="Curso">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Título del curso</h5>
          <p class="card-text">Nombre del instructor</p>
          <hr>
          <p>Cantidad de níveles</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-6 text-center">
        <img 
          src="../client/assets/images/girl-working-on-laptop.svg"
          alt="Girl Working on Laptop"
          class="img-fluid"
        >
      </div>
      <div class=" col-6 d-flex flex-column justify-content-center">
        <h3 class="fw-bolder">¡No esperes más!</h3>
        <h4>Desarrolla tus habilidades profesionales con nosotros</h4>
        
        <a href="login.html" class="btn btn-primary shadow-none rounded-5 border-0 w-50">¡Crea una cuenta gratis!</a>
      </div>
    </div>
  </section>

  <footer class="page-footer p-5 bg-light">
    <div class="container-fluid">
      <div class="row text-md-start text-center">
        <div class="col-md-3 mx-auto mb-3">
          <ul class="list-unstyled">
            <li class="my-2">
              <a href=""><img src="" class="img-fluid" id="logo-banner" alt="Logo Banner"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Recursos</h5>
          <ul class="list-unstyled">
            <li class="my-2"><a href="#" class="text-cream text-decoration-none">Acerca de nosotros</a><br></li>
            <li class="my-2"><a href="#" class="text-cream text-decoration-none">Contáctanos</a><br></li>
            <li class="my-2"><a href="#" class="text-cream text-decoration-none">Preguntas frecuentes</a><br></li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Políticas</h5>
          <ul class="list-unstyled">
            <li class="my-2"><a href="#" class="text-decoration-none">Política de privacidad</a><br></li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Contacto</h5>
          <ul class="list-unstyled">
            <li class="my-2">
              <a href="https://www.facebook.com" target="_blank" class="text-cream text-decoration-none">
                <i class="fab fa-facebook-f text-cream me-3 h4"></i>Facebook
              </a>
            </li>
            <li class="my-2">
              <a href="https://www.instagram.com" target="_blank" class="text-cream text-decoration-none">
                <i class="fa fa-instagram text-cream me-3 h4" aria-hidden="true"></i>Instagram
              </a>
            </li>
            <li class="my-2">
              <a href="tel:(00)00000000" class="text-cream text-decoration-none">
                <i class="fa fa-phone text-cream me-3 h4"></i>(00)-0000-0000
              </a>
            </li>
            <li class="my-2">
              <a href="mailto:cursotopia@gmail.com.mx" class="text-cream text-decoration-none">
                <i class="fa fa-envelope text-cream me-3 h4"></i>Correo electrónico
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="row pt-5 pb-3 d-flex align-items-center">
          <div class="col-md-12  text-center">

          </div>
        </div>
      </div>
      <div class="container text-center img-responsive">
        <p class="text-cream mb-0">&copy; 2023 Curstopia. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
</body>
</html>