<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="../node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">

  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="../client/styles/pages/home.css">
</head>

<body>
  <nav class="sticky-top navbar shadow-sm">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="col-2">
        <a href="#" class="navbar-brand col-4 link-dark text-decoration-none">Cursotopia
        </a>
      </div>

      <div class="d-flex align-items-center col-10">
        <form class="w-100 d-flex " role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
          <button class="btn btn-primary ms-3" type="button">Buscar</button>
        </form>

        <div class="dropdown col-2 ms-auto">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="..." alt="mdo" width="32" height="32" class="rounded-circle">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <section class="d-flex flex-column justify-content-center" style="height: calc(100vh - 56px)">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 class="fw-bold" style="font-size: 48px">Cursotopia</h1>
          <h5 class="mb-4">Aprende todo lo que tu quieras, ¡al alcance de un click!</h5>
          <div class="text-center text-lg-start">
            <button class="btn btn-primary rounded-5 w-50">¡Crea una cuenta gratis!</button>
          </div>
        </div>
        <div class="col-lg-6">
          <!-- TODO: Change link -->
          <img
            src="https://thumbs.dreamstime.com/b/education-training-course-online-study-tutorials-e-learning-smart-knowledge-cartoon-miniature-illustration-vector-graphic-white-135075905.jpg"
            class="img-fluid w-100" alt="">
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="text-center fw-bold">Categorías</h2>
  </section>

  <h2 class="text-center fw-bold">Cursos mejor vendidos</h2>
  <section class="container owl-carousel mb-4">
    <div class="card bg-light border-0">
      <div class="ratio ratio-16x9">
        <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" class="card-img-top"
          alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Título del curso</h5>
        <p class="card-text">Nombre del instructor</p>
        <hr>
        <p>Cantidad de níveles</p>
      </div>
    </div>
    <div class="card bg-light border-0">
      <div class="ratio ratio-16x9">
        <img src="https://solowrestling.mundodeportivo.com/uploads/RESEM116601sami-zayn-roman-reigns.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Título del curso</h5>
        <p class="card-text">Nombre del instructor</p>
        <hr>
        <p>Cantidad de níveles</p>
      </div>
    </div>
    <div class="card bg-light border-0">
      <div class="ratio ratio-16x9">
        <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" class="card-img-top"
          alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Título del curso</h5>
        <p class="card-text">Nombre del instructor</p>
        <hr>
        <p>Cantidad de níveles</p>
      </div>
    </div>
    <div class="card bg-light border-0">
      <div class="ratio ratio-16x9">
        <img src="https://solowrestling.mundodeportivo.com/uploads/RESEM116601sami-zayn-roman-reigns.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Título del curso</h5>
        <p class="card-text">Nombre del instructor</p>
        <hr>
        <p>Cantidad de níveles</p>
      </div>
    </div>
  </section>

  <h2 class="text-center fw-bold">Últimos cursos publicados</h2>
  <section class="container owl-carousel mb-4">
    <div class="card bg-light border-0">
      <div class="ratio ratio-16x9">
        <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" class="card-img-top"
          alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Título del curso</h5>
        <p class="card-text">Nombre del instructor</p>
        <hr>
        <p>Cantidad de níveles</p>
      </div>
    </div>
    <div class="card bg-light border-0">
      <div class="ratio ratio-16x9">
        <img src="https://solowrestling.mundodeportivo.com/uploads/RESEM116601sami-zayn-roman-reigns.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Título del curso</h5>
        <p class="card-text">Nombre del instructor</p>
        <hr>
        <p>Cantidad de níveles</p>
      </div>
    </div>
  </section>

  <h2 class="text-center fw-bold">Cursos mejor valorados</h2>
  <section class="container owl-carousel">
    <div class="card bg-light border-0">
      <div class="ratio ratio-16x9">
        <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" class="card-img-top"
          alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Título del curso</h5>
        <p class="card-text">Nombre del instructor</p>
        <hr>
        <p>Cantidad de níveles</p>
      </div>
    </div>
    <div class="card bg-light border-0">
      <div class="ratio ratio-16x9">
        <img src="https://solowrestling.mundodeportivo.com/uploads/RESEM116601sami-zayn-roman-reigns.jpg"
          class="card-img-top" alt="...">
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Título del curso</h5>
        <p class="card-text">Nombre del instructor</p>
        <hr>
        <p>Cantidad de níveles</p>
      </div>
    </div>
  </section>

  <section>
    Los mejores profesores están deseando enseñarte
  </section>

  <footer class="page-footer p-5 bg-light">
    <div class="container-fluid">
      <div class="row text-md-start text-center">
        <div class="col-md-3 mx-auto mb-3">
          <ul class="list-unstyled">
            <li class="my-2">
              <a href=""><img src="" class="img-fluid" id="logo-banner" alt="Logo Banner"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Recursos</h5>
          <ul class="list-unstyled">
            <li class="my-2"><a href="#" class="text-cream text-decoration-none">Acerca de nosotros</a><br></li>
            <li class="my-2"><a href="#" class="text-cream text-decoration-none">Contáctanos</a><br></li>
            <li class="my-2"><a href="#" class="text-cream text-decoration-none">Preguntas frecuentes</a><br></li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Políticas</h5>
          <ul class="list-unstyled">
            <li class="my-2"><a href="#" class="text-decoration-none">Política de privacidad</a><br></li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Contacto</h5>
          <ul class="list-unstyled">
            <li class="my-2">
              <a href="https://www.facebook.com" target="_blank" class="text-cream text-decoration-none">
                <i class="fab fa-facebook-f text-cream me-3 h4"></i>Facebook
              </a>
            </li>
            <li class="my-2">
              <a href="https://www.instagram.com" target="_blank" class="text-cream text-decoration-none">
                <i class="fa fa-instagram text-cream me-3 h4" aria-hidden="true"></i>Instagram
              </a>
            </li>
            <li class="my-2">
              <a href="tel:(00)00000000" class="text-cream text-decoration-none">
                <i class="fa fa-phone text-cream me-3 h4"></i>(00)-0000-0000
              </a>
            </li>
            <li class="my-2">
              <a href="mailto:cursotopia@gmail.com.mx" class="text-cream text-decoration-none">
                <i class="fa fa-envelope text-cream me-3 h4"></i>Correo electrónico
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="row pt-5 pb-3 d-flex align-items-center">
          <div class="col-md-12  text-center">

          </div>
        </div>
      </div>
      <div class="container text-center img-responsive">
        <p class="text-cream mb-0">© 2023 Curstopia. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>

  <script>
    $(document).ready(() => {
      $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: false,
        dots: true,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 3
          },
          1000: {
            items: 3
          }
        }
      });
    })
  </script>
</body>

</html>