<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../client/styles/pages/instructor-course-details.css">
  <script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Navbar -->
  <nav class="sticky-top navbar navbar-expand-lg shadow-sm">
    <div class="container-fluid">
      <div class="col-3">
        <a href="#" class="navbar-brand col-4 text-white link-white text-decoration-none">Cursotopia</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse me-auto" id="navbar-collapse">
        <form class="form-inline ms-xl-5 me-lg-auto w-50" role="search">
          <div class="input-group w-100">
            <input type="search" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search">
            <button class="btn btn-secondary" type="button"><i class='bx bx-search-alt-2'></i></button>
          </div>
        </form>
        <div class="dropdown col-2 ms-auto">
          <button class="btn  border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../client/assets/images/perfil.png" alt="mdo" width="36" class="rounded-circle">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="instructor-profile.html">Perfil</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Hero -->

  <div class="Hero container-fluid bg-tertiary">
    <div class="row p-4">
      <div class="col-xl-2 col-md-4 col-sm-5 col-xs-12">
        <img
          src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM="
          class="img-hero" alt="">
      </div>
      <div class="col-xl-10 col-md-8 col-sm-7 col-xs-12 m-auto">
        <div class="container text-xs-center">
          <div class="row">
            <div class="col-12">
              <h4>Nombre del curso</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h6>Fecha creación</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h6>Descripción</h6>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <button class="btn btn-secondary">Editar curso</button>
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                data-bs-target="#editProfile">Deshabilitar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Contenido -->
  <!-- Cards -->

  <div class="container mt-5">
    <div class="row">
      <h4 class="ms-5">Alumnos</h4>
    </div>
  </div>

  <section class="container" id="cards">
    

    <div class="card mb-3 mt-3 ms-auto me-auto">
      <div class="row g-0">
        <div class="col-sm-4 col-md-2 col-xs-12">
          <img
            src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM="
            class="img-card" alt="...">
        </div>
        <div class="col-sm-8 col-xs-12">
          <div class="card-body">
            <h5 class="card-title text-xs-center">Nombre del alumno</h5>
            
              <div class="row">
                <div class="col-sm-12 col-md col-xs-12">
                  <p class="card-text">Fecha de inscripción</p>
                  <p class="card-text">Precio pagado:</p>
                </div>
                <div class="col-sm-12 col-md-6 col-xs-12 sm-mt-2 xs-mt-2">
                  <p class="card-text">Progreso:</p>
                  <p class="card-text">Forma de pago</p>
                </div>
              </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 mt-3 ms-auto me-auto">
      <div class="row g-0">
        <div class="col-sm-4 col-md-2 col-xs-12">
          <img
            src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM="
            class="img-card" alt="...">
        </div>
        <div class="col-sm-8 col-xs-12">
          <div class="card-body">
            <h5 class="card-title text-xs-center">Nombre del alumno</h5>
            
              <div class="row">
                <div class="col-sm-12 col-md col-xs-12">
                  <p class="card-text">Fecha de inscripción</p>
                  <p class="card-text">Precio pagado:</p>
                </div>
                <div class="col-sm-12 col-md-6 col-xs-12 sm-mt-2 xs-mt-2">
                  <p class="card-text">Progreso:</p>
                  <p class="card-text">Forma de pago</p>
                </div>
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Ingresos -->
  <div class="container mb-4">
    <div class="row pt-4 pb-3">
      <div class="col-lg-12">
        <h4 class="ms-5">Total de ingresos</h4>
      </div>
    </div>
    <div class="row ms-5 pe-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Método de pago</th>
            <th scope="col">Total de ingresos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Tarjeta de crédito/débito</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Paypal</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!-- Footer -->
  <div class="container-fluid mt-auto bg-primary">
    <footer class="py-3 footer">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0">&copy; 2023 Cursotopia. Todos los derechos reservados.</span>
      </div>
    </footer>
  </div>

</body>

</html>