<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cursotopia</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap" rel="stylesheet">

  <!-- AOS -->
  <link rel="stylesheet" href="../node_modules/aos/dist/aos.css">
  <script src="../node_modules/aos/dist/aos.js"></script>

  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../node_modules/boxicons/css/boxicons.min.css" />
  <script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../client/styles/pages/instructor-profile.css" />
  <script src="../dist/javascript/instructor-profile.js"></script>
</head>

<body>
  <!-- Navbar -->
  <nav class="sticky-top navbar navbar-expand-lg bg-primary shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="home.html">
        <img src="../client/assets/images/logo.png" alt="Logo" width="34" height="34"
          class="d-inline-block align-text-top">
        <span class="align-middle">Cursotopia</span>
      </a>
      <button class="border-0 shadow-none navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="text-white bx-sm bx bx-menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <form class="col-md-auto col-lg-5 col-xl-7" role="search" action="search.html">
          <div class="input-group">
            <input class="form-control bg-white" type="search" placeholder="Buscar cursos..." aria-label="Search">
            <button class="btn btn-white border-0 text-dark search-btn" type="submit">
              <i class="fw-bold bx bx-search"></i>
            </button>
          </div>
        </form>
        <ul class="navbar-nav ms-auto d-lg-flex align-items-lg-center me-2">
          <li class="nav-item">
            <a href="course-creation.html" class="nav-link fw-bold text-light">
              Crear curso
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link fw-bold text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Categorías
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="search.html">Arte</a></li>
              <li><a class="dropdown-item" href="search.html">Música</a></li>
              <li><a class="dropdown-item" href="search.html">Programación</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="chat.html">
              <i class="bx-sm bx bxs-bell position-relative">
                <span class="badge rounded-pill badge-notification bg-danger">1</span>
              </i>
            </a>
          </li>
          <li class="nav-item">
            <div class="nav-link dropdown">
              <button class="btn border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../client/assets/images/perfil.png" alt="mdo" width="32"
                  class="rounded-circle profile-picture">
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="instructor-profile.html">Mi perfil</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" href="#">Cerrar sesión</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <!-- Hero -->
    <div class="container-fluid bg-tertiary shadow-sm">
      <div class="row p-4">
        <div class="text-center col-xl-2 col-md-4 col-sm-5 col-xs-12">
          <img src="https://pbs.twimg.com/profile_images/1251100214926032896/MhdWgkD1_400x400.jpg"
          width="180" class="rounded-pill" alt="Foto de perfil">
        </div>
        <div class="col-xl-10 col-md-8 col-sm-7 col-xs-12 m-auto">
          <div class="container text-xs-center">
            <div class="row">
              <div class="col-12">
                <h3 class="fw-bold">Yan Chernikov</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h6>thecherno@gmail.com</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h6>02 abr 1989</h6>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <a href="profile-edition.html" class="btn btn-secondary shadow-none border-0 rounded-5">
                  Editar perfil
                </a>
                <a href="password-edition.html" class="btn btn-secondary shadow-none border-0 rounded-5">
                  Cambiar contraseña</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contenido -->
    <div class="container">
      <h2 class="fw-bold mt-4">Mis cursos</h2>
      <h4 class="mt-3">Filtros</h4>
      <div class="row">
        <div class="row col-xs-12 col-sm-6 col-md-6 col-lg-4 select-date">
          <label for="" class="col-auto col-form-label">Fecha inicial:</label>
          <input type="date" class="col-auto form-control w-50" />
        </div>
        <div class="row col-xs-12 col-sm-6 col-md-6 col-lg-4 select-date">
          <label for="" class="col-auto col-form-label">Fecha final:</label>
          <input type="date" class="col-auto form-control w-50" />
        </div>

        <div class="row col-xs-12 col-sm-6 col-md-6 col-lg-4 select-box">
          <label for="" class="col-auto col-form-label">Categoria:</label>
          <select class="col-auto form-select w-50">
            <option selected>Categorias</option>
            <option value="1">Música</option>
            <option value="2">Arte</option>
            <option value="3">Programación</option>
          </select>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  mt-3 ">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
            <label class="form-check-label" for="inlineCheckbox2">Solo activos</label>
          </div>
        </div>

      </div>

      <!-- Cards -->
      <div class="container mt-4">
        <div data-aos="fade-up">
          <div class="card mb-4 bg-light border-0">
            <div class="row g-0">
              <div class="col-md-4">
                <div class="ratio ratio-16x9 h-100">
                  <img
                    src="https://import.cdn.thinkific.com/220744/courses/557614/hr1BWk5LTF2jiAziFPH0_aprende-a-programar-de-cero-con-python-min.jpg"
                    class="img-cover img-fluid rounded-start" alt="Portada del curso">
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title">Introducción a la Programación</h4>
                  <hr>
                  <p class="d-flex align-items-center card-text mb-0">
                    <i class='bx bxs-group me-1'></i>Cantidad de alumnos: 6
                  </p>
                  <p class="d-flex align-items-center card-text mb-0">
                    <i class='bx bx-money me-1'></i>Total de ingresos: $23,343.50 MXN
                  </p>
                  <p class="d-flex align-items-center card-text mb-1">
                    <i class='bx bxs-layer me-1'></i>Nivel promedio: 45.56%
                  </p>
                  <div class="progress mb-3">
                    <div class="progress-bar w-50 bg-primary" role="progressbar" aria-label="Basic example"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                  <a href="instructor-course-details.html" class="btn btn-secondary rounded-5 border-0 shadow-none">
                    Ver detalles de curso
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div data-aos="fade-up">
          <div class="card mb-4 bg-light border-0">
            <div class="row g-0">
              <div class="col-md-4">
                <div class="ratio ratio-16x9 h-100">
                  <img
                    src="https://import.cdn.thinkific.com/220744/courses/1652554/m8sF2qn5R7WkrFrvDAJe_Seguridad%20pc-min.jpg"
                    class="img-cover img-fluid rounded-start" alt="Portada del curso">
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title">Como protegerse en la red</h4>
                  <hr>
                  <p class="d-flex align-items-center card-text mb-0">
                    <i class='bx bxs-group me-1'></i>Cantidad de alumnos: 6
                  </p>
                  <p class="d-flex align-items-center card-text mb-0">
                    <i class='bx bx-money me-1'></i>Total de ingresos: $23,343.50 MXN
                  </p>
                  <p class="d-flex align-items-center card-text mb-1">
                    <i class='bx bxs-layer me-1'></i>Nivel promedio: 45.56%
                  </p>
                  <div class="progress mb-3">
                    <div class="progress-bar w-50 bg-primary" role="progressbar" aria-label="Basic example"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                  <a href="instructor-course-details.html" class="btn btn-secondary rounded-5 border-0 shadow-none">
                    Ver detalles de curso
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div data-aos="fade-up">
          <div class="card mb-4 bg-light border-0">
            <div class="row g-0">
              <div class="col-md-4">
                <div class="ratio ratio-16x9 h-100">
                  <img src="https://i.ytimg.com/vi/45MIykWJ-C4/maxresdefault.jpg"
                    class="img-cover img-fluid rounded-start" alt="Portada del curso">
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title">Aprende todo de OpenGL</h4>
                  <hr>
                  <p class="d-flex align-items-center card-text mb-0">
                    <i class='bx bxs-group me-1'></i>Cantidad de alumnos: 6
                  </p>
                  <p class="d-flex align-items-center card-text mb-0">
                    <i class='bx bx-money me-1'></i>Total de ingresos: $23,343.50 MXN
                  </p>
                  <p class="d-flex align-items-center card-text mb-1">
                    <i class='bx bxs-layer me-1'></i>Nivel promedio: 45.56%
                  </p>
                  <div class="progress mb-3">
                    <div class="progress-bar w-50 bg-primary" role="progressbar" aria-label="Basic example"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                  <a href="instructor-course-details.html" class="btn btn-secondary rounded-5 border-0 shadow-none">
                    Ver detalles de curso
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div data-aos="fade-up">
          <div class="card mb-4 bg-light border-0">
            <div class="row g-0">
              <div class="col-md-4">
                <div class="ratio ratio-16x9 h-100">
                  <img
                    src="https://import.cdn.thinkific.com/220744/courses/881985/h20jls3OSdiMYPpYXpJC_Tu%20propio%20entorno%20de%20escritorio%20Arch%20linux-min.jpg"
                    class="img-cover img-fluid rounded-start" alt="Portada del curso">
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title">Crea tu propio entorno de desarrollo con Linux</h4>
                  <hr>
                  <p class="d-flex align-items-center card-text mb-0">
                    <i class='bx bxs-group me-1'></i>Cantidad de alumnos: 6
                  </p>
                  <p class="d-flex align-items-center card-text mb-0">
                    <i class='bx bx-money me-1'></i>Total de ingresos: $23,343.50 MXN
                  </p>
                  <p class="d-flex align-items-center card-text mb-1">
                    <i class='bx bxs-layer me-1'></i>Nivel promedio: 45.56%
                  </p>
                  <div class="progress mb-3">
                    <div class="progress-bar w-50 bg-primary" role="progressbar" aria-label="Basic example"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                  <a href="instructor-course-details.html" class="btn btn-secondary rounded-5 border-0 shadow-none">
                    Ver detalles de curso
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div data-aos="fade-up">
          <div class="card mb-4 bg-light border-0">
            <div class="row g-0">
              <div class="col-md-4">
                <div class="ratio ratio-16x9 h-100">
                  <img src="https://pikuma.com/images/courses/nes.jpg" class="img-cover img-fluid rounded-start"
                    alt="Portada del curso">
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title">Programación en NES</h4>
                  <hr>
                  <p class="d-flex align-items-center card-text mb-0">
                    <i class='bx bxs-group me-1'></i>Cantidad de alumnos: 6
                  </p>
                  <p class="d-flex align-items-center card-text mb-0">
                    <i class='bx bx-money me-1'></i>Total de ingresos: $23,343.50 MXN
                  </p>
                  <p class="d-flex align-items-center card-text mb-1">
                    <i class='bx bxs-layer me-1'></i>Nivel promedio: 45.56%
                  </p>
                  <div class="progress mb-3">
                    <div class="progress-bar w-50 bg-primary" role="progressbar" aria-label="Basic example"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                  <a href="instructor-course-details.html" class="btn btn-secondary rounded-5 border-0 shadow-none">
                    Ver detalles de curso
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-5"
          aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#"><i
                  class='bx bx-chevron-left'></i></a></li>
            <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#">1</a></li>
            <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#">2</a></li>
            <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#">3</a></li>
            <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#"><i
                  class='bx bx-chevron-right'></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- TODO: Total de ingresos por curso -->

    <div class="container mb-4">
      <div class="row pt-4 pb-3">
        <div class="col-lg-12">
          <h4 class="ms-5">Total de ingresos</h4>
        </div>
      </div>
      <div class="row ms-5 pe-4">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Método de pago</th>
              <th scope="col">Total de ingresos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Tarjeta de crédito/débito</th>
              <td>$1,000.00 MXN</td>
            </tr>
            <tr>
              <th scope="row">Paypal</th>
              <td>$500.00 MXN</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </main>

  <!-- Footer -->
  <footer class="page-footer p-5 bg-light">
    <div class="container-fluid">
      <div class="row text-md-start text-center">
        <div class="col-md-3 mx-auto mb-3">
          <ul class="list-unstyled">
            <li class="my-2">
              <a href=""><img src="../client/assets/images/logo.png" width="200" class="img-fluid" id="logo-banner" alt="Logo Banner"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Recursos</h5>
          <ul class="list-unstyled">
            <li class="my-2"><a href="#" class="text-primary text-decoration-none">Acerca de nosotros</a><br></li>
            <li class="my-2"><a href="#" class="text-primary text-decoration-none">Contáctanos</a><br></li>
            <li class="my-2"><a href="#" class="text-primary text-decoration-none">Preguntas frecuentes</a><br></li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Políticas</h5>
          <ul class="list-unstyled">
            <li class="my-2"><a href="#" class="text-primary text-decoration-none">Política de privacidad</a><br></li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Contacto</h5>
          <ul class="list-unstyled">
            <li class="my-2">
              <a href="https://www.facebook.com" target="_blank" class="d-flex justify-content-md-start justify-content-center align-items-center text-primary text-decoration-none">
                <i class='text-primary bx-sm bx bxl-facebook-square me-2'></i>Facebook
              </a>
            </li>
            <li class="my-2">
              <a href="https://www.instagram.com" target="_blank" class="d-flex justify-content-md-start justify-content-center text-primary text-decoration-none">
                <i class='text-primary bx-sm bx bxl-instagram-alt me-2' ></i>Instagram
              </a>
            </li>
            <li class="my-2">
              <a href="tel:(00)00000000" class="d-flex justify-content-md-start justify-content-center text-primary text-decoration-none">
                <i class='text-primary bx-sm bx bxs-phone me-2'></i>(00)-0000-0000
              </a>
            </li>
            <li class="my-2">
              <a href="mailto:cursotopia@gmail.com.mx" class="d-flex justify-content-md-start justify-content-center text-primary text-decoration-none">
                <i class='text-primary bx-sm bx bxs-envelope me-2' ></i>Correo electrónico
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="row pt-5 pb-3 d-flex align-items-center">
          <div class="col-md-12  text-center">

          </div>
        </div>
      </div>
      <div class="container text-center img-responsive">
        <p class="text-cream mb-0">&copy; 2023 Curstopia. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
</body>

</html>