<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../client/styles/pages/instructor-profile.css">
  <script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Navbar -->

  <nav class="py-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 text-decoration-none navbar-brand" id="navbar-logo">
        Cursotopia
      </a>
      <div class="d-flex align-items-center">
        <form class="w-100 me-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search" id="searchbar">
        </form>
        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../client/assets/images/perfil.png" alt="mdo" width="32" height="32" class="rounded-circle" id="profile-img">
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#" id="login-navbar-btn">Iniciar sesión</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <li><a class="dropdown-item" href="#" id="register-navbar-btn">Registrarse</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <main>
      <!-- Hero -->
    <div class="Hero">
      <div class="container-fluid bg-white shadow">
          <div class="row p-4">
              <div class="col-xl-2 col-md-4 col-sm-5 col-xs-12">
                  <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" class="img-hero" alt="">
              </div>
              <div class="col-xl-10 col-md-8 col-sm-7 col-xs-12 m-auto">
                  <div class="container text-xs-center">
                      <div class="row">
                          <div class="col-12">
                              <h4>Nombre completo</h4>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12">
                              <h6>Usuario</h6>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12">
                              <h6>Fecha de nacimiento</h6>
                          </div>
                      </div>
                      <!-- Mandar mensaje solo sale para alumnos de ese instructor -->
                      <div class="row mt-3">
                          <div class="col-12">
                              <button class="btn btn-secondary">Mandar mensaje</button>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Contenido -->
  <div class="container">
      <div class="row mt-4">
          <div class="col-12">
              <h4>Cursos impartidos</h4>
          </div>
      </div>
      
    <!-- Cards -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 pb-2">
                <div class="container">
                    <div class="row">
                        <div class="container card mb-3" >
                            <div class="row ">
                              <div class="col-md-4 col-sm-12">
                                <img src="../../Styles/hero-bg.png" class="img-card rounded-start" alt="...">
                              </div>
                              <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="card-body">
                                  <h5 class="card-title">Nombre del curso</h5>
                                <p class="card-text">Instructor:</p>
                                <p class="card-text">Puntuación:</p>
                                <p class="card-text">Precio:</p>
                                </div>
                              </div>
                              <div class="col-xs-12 col-md-3 col-sm-12 m-auto card-button">
                                <button class="btn btn-secondary">Ver detalles</button>
                              </div>
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="container card mb-3" >
                            <div class="row ">
                              <div class="col-md-4 col-sm-12">
                                <img src="..." class="img-card rounded-start" alt="...">
                              </div>
                              <div class="col-xs-12 col-md-5 col-sm-12">
                                <div class="card-body">
                                  <h5 class="card-title">Nombre del curso</h5>
                                <p class="card-text">Instructor:</p>
                                <p class="card-text">Puntuación:</p>
                                <p class="card-text">Precio:</p>
                                </div>
                              </div>
                              <div class="col-xs-12 col-md-3 col-sm-12 m-auto card-button">
                                <button class="btn btn-secondary">Ver detalles</button>
                              </div>
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="container card mb-3" >
                            <div class="row ">
                              <div class="col-md-4 col-sm-12">
                                <img src="..." class="img-card rounded-start" alt="...">
                              </div>
                              <div class="col-xs-12 col-md-5 col-sm-12">
                                <div class="card-body">
                                  <h5 class="card-title">Nombre del curso</h5>
                                <p class="card-text">Instructor:</p>
                                <p class="card-text">Puntuación:</p>
                                <p class="card-text">Precio:</p>
                                </div>
                              </div>
                              <div class="col-xs-12 col-md-3 col-sm-12 m-auto card-button">
                                <button class="btn btn-secondary">Ver detalles</button>
                              </div>
                            </div>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="container-fluid mt-auto bg-primary">
      <footer class="py-3 footer">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0">&copy; 2023 Cursotopia. Todos los derechos reservados.</span>
        </div>
      </footer>
  </div>
  </main>

</body>
</html>