<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../client/styles/pages/instructor-profile.css">
  <script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../node_modules/boxicons/css/boxicons.min.css" />
  <link rel="stylesheet" href="../dist/assets/instructor-profile-seen-by-others.css">
</head>
<body>
  <!-- Navbar -->
  <nav class="sticky-top navbar navbar-expand-lg shadow-sm">
    <div class="container-fluid">
      <div class="col-3">
        <a href="#" class="navbar-brand col-4 text-white link-white text-decoration-none">Cursotopia</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse me-auto" id="navbar-collapse">
        <form class="form-inline ms-xl-5 me-lg-auto w-50" role="search">
          <div class="input-group w-100">
            <input type="search" class="form-control border-0 shadow-none" placeholder="Search..."
              aria-label="Search" />
            <button class="btn btn-secondary" type="button">
              <i class="bx bx-search-alt-2"></i>
            </button>
          </div>
        </form>
        <div class="dropdown col-2 ms-auto">
          <button class="btn border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../client/assets/images/perfil.png" alt="mdo" width="36" class="rounded-circle" />
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="instructor-profile.html">Perfil</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <!-- Hero -->
    <div class="Hero">
      <div class="container-fluid bg-white shadow">
        <div class="row p-4">
          <div class="col-xl-2 col-md-4 col-sm-5 col-xs-12">
            <img
              src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM="
              class="img-hero" alt="">
          </div>
          <div class="col-xl-10 col-md-8 col-sm-7 col-xs-12 m-auto">
            <div class="container text-xs-center">
              <div class="row">
                <div class="col-12">
                  <h4>Nombre completo</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h6>Usuario</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h6>Fecha de nacimiento</h6>
                </div>
              </div>
              <!-- Mandar mensaje solo sale para alumnos de ese instructor -->
              <div class="row mt-3">
                <div class="col-12">
                  <button class="btn btn-secondary">Mandar mensaje</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contenido -->
    <div class="container">
      <div class="row mt-4">
        <div class="col-12">
          <h4>Cursos impartidos</h4>
        </div>
      </div>

      <div class="container mt-4">
        <div class="card mb-3 bg-light shadow-none border-0">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="ratio ratio-16x9 h-100">
                <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
                class=" img-cover img-fluid rounded-start" alt="...">
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">Introducción a la Programación</h4>
                <p class="card-text mb-0">Cantidad de alumnos: 6</p>
                <p class="card-text mb-0">Puntuación:</p>
                <p class="card-text">Precio:</p>
                <button class="btn btn-secondary rounded-5 border-0 shadow-none">Ver detalles</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 bg-light shadow-none border-0">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="ratio ratio-16x9 h-100">
                <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
                class=" img-cover img-fluid rounded-start" alt="...">
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">Introducción a la Programación</h4>
                <p class="card-text mb-0">Cantidad de alumnos: 6</p>
                <p class="card-text mb-0">Puntuación:</p>
                <p class="card-text">Precio:</p>
                <button class="btn btn-secondary rounded-5 border-0 shadow-none">Ver detalles</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 bg-light shadow-none border-0">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="ratio ratio-16x9 h-100">
                <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
                class=" img-cover img-fluid rounded-start" alt="...">
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">Introducción a la Programación</h4>
                <p class="card-text mb-0">Cantidad de alumnos: 6</p>
                <p class="card-text mb-0">Puntuación:</p>
                <p class="card-text">Precio:</p>
                <button class="btn btn-secondary rounded-5 border-0 shadow-none">Ver detalles</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 bg-light shadow-none border-0">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="ratio ratio-16x9 h-100">
                <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
                class=" img-cover img-fluid rounded-start" alt="...">
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">Introducción a la Programación</h4>
                <p class="card-text mb-0">Cantidad de alumnos: 6</p>
                <p class="card-text mb-0">Puntuación:</p>
                <p class="card-text">Precio:</p>
                <button class="btn btn-secondary rounded-5 border-0 shadow-none">Ver detalles</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 bg-light shadow-none border-0">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="ratio ratio-16x9 h-100">
                <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
                class=" img-cover img-fluid rounded-start" alt="...">
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">Introducción a la Programación</h4>
                <p class="card-text mb-0">Cantidad de alumnos: 6</p>
                <p class="card-text mb-0">Puntuación:</p>
                <p class="card-text">Precio:</p>
                <button class="btn btn-secondary rounded-5 border-0 shadow-none">Ver detalles</button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center" aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#"><i class='bx bx-chevron-left'></i></a></li>
            <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#">1</a></li>
            <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#">2</a></li>
            <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#">3</a></li>
            <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#"><i class='bx bx-chevron-right'></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid mt-auto bg-primary">
      <footer class="py-3 footer">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0">&copy; 2023 Cursotopia. Todos los derechos reservados.</span>
        </div>
      </footer>
    </div>
  </main>

</body>

</html>