<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../node_modules/boxicons/css/boxicons.min.css">

  <link rel="stylesheet" href="../dist/assets/login.css">
  <script defer type="module" src="../dist/javascript/login.js"></script>
</head>
<body>
  <header>

  </header>
  <main class="container">
    <section class="row d-flex align-items-center justify-content-center vh-100">
      <form action="#" class="bg-white rounded-3 p-5 col-lg-5 col-md-7 shadow-lg" id="login-form">
        <h1 class="text-center">Inicia sesión</h1>
        <hr>
        <div class="mb-4">
          <label for="email" role="button" class="form-label"><i class='bx bxs-envelope position-relative'></i> 
            Correo electrónico:</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="example@domain.com">
        </div>
        <div class="mb-4">
          <label for="password" role="button" class="form-label"><i class='bx bxs-key'></i> Contraseña</label>
          <div class="input-group">
            <input type="password" name="password" id="password" class="form-control">
            <button type="button" class="btn btn-primary input-group-text"><i class='bx bxs-low-vision'></i></button>
          </div>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input shadow-none rounded-1" type="checkbox" name="remember" id="remember">
          <label class="form-check-label" for="flexCheckDefault">Recuérdame</label>
        </div>
        <div class="d-grid mb-4">
          <button type="submit" class="btn btn-primary rounded-pill d-flex justify-content-center"
            id="btn-login">
            <div class="spinner me-2 d-none" id="login-spinner"></div>Iniciar sesión
          </button>
        </div>
        <p class="text-center mb-0">¿Aún no tienes cuenta?</p>
        <a href="signup.html" class="d-block text-center text-decoration-none text-primary">¡Registrate aquí!</a>
      </form>
    </section>
  </main>
  <footer>

  </footer>
</body>

</html>