<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cursotopia</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
	<header>

	</header>
	<main class="container">
    <section class="row d-flex align-items-center justify-content-center vh-100">
      <form action="" method="get" class="bg-light rounded-1 p-5 col-lg-5 col-md-7">
        <h1 class="text-center">Inicia sesión</h1>
        <hr>
        <div class="mb-4">
          <label for="email" role="button" class="form-label">Correo electrónico</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="example@domain.com">
        </div>
        <div class="mb-4">
          <label for="password" role="button" class="form-label">Contraseña</label>
          <div class="input-group">
            <input type="password" name="password" id="password" class="form-control">
            <button type="button" class="input-group-text">@</button>
          </div>
        </div>
        <div class="d-grid mb-4">
          <button type="submit" class="btn btn-primary rounded-1">Iniciar sesión</button>
        </div>
        <p class="text-center mb-0">¿Aún no tienes cuenta?</p>
        <a href="" class="d-block text-center text-decoration-none">¡Registrate aquí!</a>
      </form>
    </section>
	</main>
	<footer>
		
	</footer>
</body>
</html>