<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cursotopia</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../node_modules/boxicons/css/boxicons.min.css">
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../node_modules/sweetalert2/dist/sweetalert2.min.css">
	<link rel="stylesheet" href="../client/styles/pages/payment-method.css">

	<!-- PayPal -->
	<script src="https://www.paypal.com/sdk/js?client-id=AYRWL7VDLGBBSSSutwgu3nPO8ZDZKNGCiON9pO_X-dGx3lgkWMLL2xlQjDycSG5qA3bh4IRsjMMgHunl"></script>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>

	<script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script defer type="module" src="../dist/javascript/payment-method.js"></script>
</head>

<body>
	<!-- Navbar -->
	<nav class="sticky-top navbar navbar-expand-lg bg-primary shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="home.html">
        <img src="../client/assets/images/logo.png" alt="Logo" width="34" height="34" class="d-inline-block align-text-top">
        <span class="align-middle">Cursotopia</span>
      </a>
      <button 
        class="border-0 shadow-none navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-content"
        aria-controls="navbar-content"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="text-white bx-sm bx bx-menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <form class="col-md-auto col-lg-5 col-xl-7" role="search" action="search.html">
          <div class="input-group">
            <input
              class="form-control bg-white"
              type="search"
              placeholder="Buscar cursos..."
              aria-label="Search">
            <button class="btn btn-white border-0 text-dark search-btn" type="submit">
              <i class="fw-bold bx bx-search"></i>
            </button>
          </div>
        </form>
        <ul class="navbar-nav ms-auto d-lg-flex align-items-lg-center me-2">
          <li class="nav-item">
            <a href="course-creation.html" class="nav-link fw-bold text-light">
              Mis cursos
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link fw-bold text-light dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categorías
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="search.html">Arte</a></li>
              <li><a class="dropdown-item" href="search.html">Música</a></li>
              <li><a class="dropdown-item" href="search.html">Programación</a></li>
            </ul>
          </li>    
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="chat.html">
              <i class="bx-sm bx bxs-bell position-relative">
                <span class="badge rounded-pill badge-notification bg-danger">1</span>
              </i>
            </a>
          </li>
          <li class="nav-item">
            <div class="nav-link dropdown">
              <button
                class="btn border-0 p-0"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img 
                  src="../client/assets/images/perfil.png"
                  alt="mdo"
                  width="32"
                  class="rounded-circle profile-picture">
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="instructor-profile.html">Mi perfil</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" href="#">Cerrar sesión</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

	<!-- Contenido -->
	<main class="container my-4">
		<div class="row">
			<div class="border-3 border-bottom border-primary text-center mb-3">
				<h1>Método de pago</h1>
			</div>
			<form class="col-xxl-6 col-lg-5 col-md-12 col-sm-12" id="payment-method-form">
				<div class="row mt-3 mb-3">
					<div class="col-12">
						<div class="form-check">
							<input
								checked
								autocomplete="off"
								class="form-check-input"
								name="method" type="radio" id="chk-card"
								data-bs-toggle="collapse"
								data-bs-target=".checkout-section"
								aria-expanded="false" aria-controls="checkout-section"
							>
							<label class="form-check-label" for="chk-card">Tarjeta de crédito/debito</label>
						</div>
						<div class="form-check">
							<input class="form-check-input"
								name="method" type="radio" id="chk-paypal"
								autocomplete="off"
								data-bs-toggle="collapse"
								data-bs-target=".checkout-section"
								aria-expanded="false" aria-controls="checkout-section"
							>
							<label class="form-check-label" for="chk-paypal">Paypal</label>
						</div>
					</div>
				</div>
				<div class="row collapse show checkout-section">
					<div class="col-6 mb-4">
						<label for="name" class="form-label" role="button">Nombre de la tarjeta</label>
						<input type="text" name="name" id="name" class="form-control">
					</div>
					<div class="col-6 mb-4">
						<label for="curp" class="form-label" role="button">Curp</label>
						<input type="text" name="curp" id="curp" class="form-control">
					</div>
					<div class="col-12 mb-4">
						<label for="card-number" class="form-label" role="button">Número de tarjeta</label>
						<input type="text" name="card-number" id="card-number" class="form-control">
					</div>

					<div class="col-6 mb-4">
						<label for="cvv" class="form-label" role="button">CVC/CVV</label>
						<input type="text" name="cvv" id="cvv" class="form-control">
					</div>
					<div class="col-6 mb-4">
						<label for="expiration" class="form-label" role="button">Fecha de vencimiento</label>
						<div class="form-control exp-wrapper">
							<input autocomplete="off" class="bg-light exp" id="month" maxlength="2" pattern="[0-9]*" inputmode="numerical"
								placeholder="MM" type="text" data-pattern-validate
								name="month">
							<input autocomplete="off" class="bg-light exp" id="year" maxlength="2" pattern="[0-9]*" inputmode="numerical"
								placeholder="YY" type="text" data-pattern-validate
								name="year">
						</div>
					</div>
				</div>
				<div class="row collapse checkout-section" id="paypal-section">
				</div>
				<div class="row mb-3">
					<div class="col-md-12">
						<h4>Detalles del pedido</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-2">
						<img class="product-img"
							src="https://import.cdn.thinkific.com/220744/courses/557614/hr1BWk5LTF2jiAziFPH0_aprende-a-programar-de-cero-con-python-min.jpg"
							alt="">
					</div>
					<div class="col-8">
						<label for="inputEmail4" class="form-label">Introducción a la programación</label>
					</div>
					<div class="col-2 ms-auto">
						<label for="inputEmail4" class="form-label">$1000.00 MXN</label>
					</div>
				</div>
				<div class="d-flex mt-3">
					<button type="submit" class="btn btn-primary rounded-pill w-100">Hacer pago</button>
				</div>
			</form>
			<div class="col-lg-7 col-xxl-6 col-md-12">
				<img
					src="../client/assets/images/online-shopping.png"
					alt="Pago"
					class="img-fluid"
				>
			</div>
		</div>
	</main>

	<!-- Footer -->
  <footer class="page-footer p-5 bg-light">
    <div class="container-fluid">
      <div class="row text-md-start text-center">
        <div class="col-md-3 mx-auto mb-3">
          <ul class="list-unstyled">
            <li class="my-2">
              <a href=""><img src="../client/assets/images/logo.png" width="200" class="img-fluid" id="logo-banner" alt="Logo Banner"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Recursos</h5>
          <ul class="list-unstyled">
            <li class="my-2"><a href="#" class="text-primary text-decoration-none">Acerca de nosotros</a><br></li>
            <li class="my-2"><a href="#" class="text-primary text-decoration-none">Contáctanos</a><br></li>
            <li class="my-2"><a href="#" class="text-primary text-decoration-none">Preguntas frecuentes</a><br></li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Políticas</h5>
          <ul class="list-unstyled">
            <li class="my-2"><a href="#" class="text-primary text-decoration-none">Política de privacidad</a><br></li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto mb-3">
          <h5 class="text-uppercase mb-4 text-cream fw-bold">Contacto</h5>
          <ul class="list-unstyled">
            <li class="my-2">
              <a href="https://www.facebook.com" target="_blank" class="d-flex justify-content-md-start justify-content-center align-items-center text-primary text-decoration-none">
                <i class='text-primary bx-sm bx bxl-facebook-square me-2'></i>Facebook
              </a>
            </li>
            <li class="my-2">
              <a href="https://www.instagram.com" target="_blank" class="d-flex justify-content-md-start justify-content-center text-primary text-decoration-none">
                <i class='text-primary bx-sm bx bxl-instagram-alt me-2' ></i>Instagram
              </a>
            </li>
            <li class="my-2">
              <a href="tel:(00)00000000" class="d-flex justify-content-md-start justify-content-center text-primary text-decoration-none">
                <i class='text-primary bx-sm bx bxs-phone me-2'></i>(00)-0000-0000
              </a>
            </li>
            <li class="my-2">
              <a href="mailto:cursotopia@gmail.com.mx" class="d-flex justify-content-md-start justify-content-center text-primary text-decoration-none">
                <i class='text-primary bx-sm bx bxs-envelope me-2' ></i>Correo electrónico
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="row pt-5 pb-3 d-flex align-items-center">
          <div class="col-md-12  text-center">

          </div>
        </div>
      </div>
      <div class="container text-center img-responsive">
        <p class="text-cream mb-0">&copy; 2023 Curstopia. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
</body>

</html>