<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cursotopia</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
	<main>
		<h1>Resultados de busqueda</h1>

		<article class="col-lg-4 col-md-6 col-sm-12 bg-light">
			<div class="card mx-auto">
				<img 
					src="https://assets.entrepreneur.com/content/3x2/2000/1649279368-Ent-2022Python.jpeg?crop=4:3"
					alt="Python"
					class="img-fluid"
				>
			</div>
			<div class="card-body">
				<h4 class="card-title">Nombre</h4>
				<p class="card-text mb-2 text-truncate">Descripción</p>
				<div class="d-flex justify-content-start">
						<button class="btn btn-primary me-1">Editar</button>
						<button class="btn btn-danger">Eliminar</button>
				</div>
		</div>
		</article>

	</main>
</body>
</html>