<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="sticky-top navbar navbar-expand-lg bg-white shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <main class="container">
    <input type="search" name="search" id="search">

    <select name="" id="">
      <option value="">Categoría</option>
    </select>

    <select name="" id="">
      <option value="">Instructor</option>
    </select>

    <input type="date" name="from" id="from">
    <input type="date" name="to" id="to">

    <h1>Resultados de busqueda</h1>
    <div class="row">
      <article class="col-lg-4 col-md-6 col-sm-12">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" class="card-img-top"
              alt="...">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" class="card-img-top"
              alt="...">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" class="card-img-top"
              alt="...">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" class="card-img-top"
              alt="...">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" class="card-img-top"
              alt="...">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" class="card-img-top"
              alt="...">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
    </div>
</body>
</html>