<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../dist/assets/search.css">
  <link rel="stylesheet" href="../node_modules/boxicons/css/boxicons.min.css">
  <script defer type="module" src="../dist/javascript/search.js"></script>
</head>
<body>
  <nav class="sticky-top navbar shadow-sm">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="col-2">
        <a href="#" class="navbar-brand col-4 link-white text-decoration-none">Cursotopia
        </a>
      </div>

      <div class="d-flex align-items-center col-10">
        <form class="w-100 d-flex " role="search">
          <input type="search" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search">
          <button class="btn btn-primary ms-3" type="button">Buscar</button>
        </form>

        <div class="dropdown col-2 ms-auto">
          <button class="btn  border-0 p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img 
              src="../client/assets/images/perfil.png"
              alt="mdo"
              width="36"
              class="rounded-circle">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <main class="container my-5">
    <input type="search" name="search" id="search">

    <select name="categories" id="categories">
      <option value="">Categoría</option>
    </select>

    <select name="" id="">
      <option value="">Instructor</option>
    </select>

    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="from" class="col-form-label">Desde:</label>
      </div>
      <div class="col-auto">
        <input type="date" name="from" id="from" class="form-control">
      </div>
    </div>

    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="to" class="col-form-label">Hasta:</label>
      </div>
      <div class="col-auto">
        <input type="date" name="to" id="to" class="form-control">
      </div>
    </div>



    <h1>Resultados de busqueda</h1>
    <div class="row">
      <article class="col-lg-4 col-md-6 col-sm-12 mb-5" id="art1" data-aos="fade-up">
        <div class="card bg-light border-0 shadow-none">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
              class="img-cover"
              alt="Curso">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12 mb-5" id="art2" data-aos="fade-up">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
              class="img-cover"
              alt="Curso">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12 mb-5" id="art3" data-aos="fade-up">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
              class="img-cover"
              alt="Curso">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12 mb-5" data-aos="fade-up">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
              class="img-cover"
              alt="Curso">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12 mb-5" data-aos="fade-up">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
              class="img-cover"
              alt="Curso">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12 mb-5" data-aos="fade-up">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
              class="img-cover"
              alt="Curso">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12 mb-5" data-aos="fade-up">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
              class="img-cover"
              alt="Curso">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12 mb-5" data-aos="fade-up">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
              class="img-cover"
              alt="Curso">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12 mb-5" data-aos="fade-up">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
              class="img-cover"
              alt="Curso">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12 mb-5" data-aos="fade-up">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
              class="img-cover"
              alt="Curso">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12 mb-5" data-aos="fade-up">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
              class="img-cover"
              alt="Curso">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6 col-sm-12 mb-5" data-aos="fade-up">
        <div class="card bg-light border-0">
          <div class="ratio ratio-16x9">
            <img src="https://i.pinimg.com/736x/df/92/eb/df92eb0035b8ce6381d93a0e93544b31.jpg" 
              class="img-cover"
              alt="Curso">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">Título del curso</h5>
            <p class="card-text">Nombre del instructor</p>
            <hr>
            <p>Cantidad de níveles</p>
          </div>
        </div>
      </article>
      <div class="d-flex justify-content-center" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#"><i class='bx bx-chevron-left'></i></a></li>
          <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#">1</a></li>
          <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#">2</a></li>
          <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#">3</a></li>
          <li class="page-item"><a class="page-link border-0 bg-light shadow-none" href="#"><i class='bx bx-chevron-right'></i></a></li>
        </ul>
      </div>
    </div>
</body>
</html>