<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../dist/assets/signup.css">
  <script defer type="module" src="../dist/javascript/signup.js"></script>
</head>
<body>
  <header>

  </header>
  <main class="container">
    <section class="row d-flex align-items-center justify-content-center">
      <form action="#" class="bg-white p-5 col-lg-8 col-md-8" id="signup-form">
        <h1 class="text-center">Crea una nueva cuenta</h1>
        <hr>
        <div class="text-center">
          <img src="../client/assets/images/perfil.png"
            alt="Foto de perfil" width="128" class="rounded-circle">
        </div>

        <br>

        <div class="row">
          <div class="col-6 mb-4">
            <label for="name" role="button" class="form-label">Nombre</label>
            <input type="text" name="name" id="name" class="bg-light form-control border-0 shadow-none" placeholder="Jon">
          </div>
  
          <div class="col-6 mb-4">
            <label for="last-name" role="button" class="form-label">Apellido</label>
            <input type="text" name="last-name" id="last-name" class="bg-light form-control border-0 shadow-none" placeholder="Doe">
          </div>

          <div class="col-4 mb-4">
            <label for="user-role" role="button" class="form-label">Rol de usuario</label>
            <select name="user-role" id="user-role" class="bg-light form-select border-0 shadow-none">
              <option value="0" selected>Seleccionar</option>
              <option value="1">Instructor</option>
              <option value="2">Alumno</option>
            </select>
          </div>

          <div class="col-4 mb-4">
            <label for="gender" role="button" class="form-label">Género</label>
            <select name="gender" id="gender" class="bg-light form-select border-0 shadow-none">
              <option value="0" selected>Seleccionar</option>
              <option value="1">Másculino</option>
              <option value="2">Femenino</option>
              <option value="3">Otro</option>
            </select>
          </div>

          <div class="col-4 mb-4">
            <label for="birth-date" role="button" class="form-label">Fecha de nacimiento</label>
            <input type="date" name="birth-date" id="birth-date" class="bg-light form-control border-0 shadow-none">
          </div>
        </div>

        <div class="mb-4">
          <label for="email" role="button" class="form-label">Correo electrónico</label>
          <input type="email" name="email" id="email" class="bg-light form-control border-0 shadow-none" placeholder="example@domain.com">
        </div>

        <div class="mb-4">
          <label for="password" role="button" class="form-label">Contraseña</label>
          <input type="password" name="password" id="password" class="bg-light form-control border-0 shadow-none">
          <ul>
            <li>Una minuscula</li>
            <li>Una mayuscula</li>
            <li>Una número</li>
            <li>Una signo especial</li>
          </ul>
        </div>

        <div class="mb-4">
          <label for="confirm-password" role="button" class="form-label">Confirmar contraseña</label>
          <input type="password" name="confirm-password" id="confirm-password" class="bg-light form-control border-0 shadow-none">
        </div>

        <div class="d-grid mb-4">
          <button type="submit" class="btn btn-primary rounded-5">Registrarse</button>
        </div>

        <p class="text-center mb-0">¿Ya tienes cuenta?</p>
        <a class="d-block text-center text-decoration-none text-primary" href="/login">¡Inicia sesión aquí!</a>
      </form>
    </section>
  </main>
  <footer>

  </footer>
</body>
</html>