<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cursotopia</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script defer src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../client/styles/configuration/colors.css">
  <link rel="stylesheet" href="../client/styles/pages/signup.css">
</head>
<body>
  <header>

  </header>
  <section class="container">
    <div class="row d-flex justify-content-center">
      <form action="" class="bg-light p-5 col-lg-8 col-md-8">
        <h1 class="text-center">Crea una nueva cuenta</h1>
        <hr>

        <!-- TODO: Remove this src link -->
        <div class="text-center">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
            alt="Foto de perfil" width="128" class="rounded-circle">
        </div>

        <br>

        <div class="row">
          <div class="col-6 mb-4">
            <label for="name" role="button" class="form-label">Nombre</label>
            <input type="text" name="name" id="name" class="form-control">
          </div>
  
          <div class="col-6 mb-4">
            <label for="last-name" role="button" class="form-label">Apellido Paterno</label>
            <input type="text" name="last-name" id="last-name" class="form-control">
          </div>

          <div class="col-12 mb-4">
            <label for="last-name" role="button" class="form-label">Apellido Materno</label>
            <input type="text" name="last-name" id="last-name" class="form-control">
          </div>

          <div class="col-4 mb-4">
            <label for="user-role" role="button" class="form-label">Rol de usuario</label>
            <select name="user-role" id="user-role" class="form-select">
              <option value="0" selected>Seleccionar</option>
              <option value="1">Instructor</option>
              <option value="2">Alumno</option>
            </select>
          </div>

          <div class="col-4 mb-4">
            <label for="gender" role="button" class="form-label">Género</label>
            <select name="gender" id="gender" class="form-select">
              <option value="0" selected>Seleccionar</option>
              <option value="1">Másculino</option>
              <option value="2">Femenino</option>
              <option value="3">Otro</option>
            </select>
          </div>

          <div class="col-4 mb-4">
            <label for="birth-date" role="button" class="form-label">Fecha de nacimiento</label>
            <input type="date" name="birth-date" id="birth-date" class="form-control">
          </div>
        </div>


        

        

        <div class="mb-4">
          <label for="email" role="button" class="form-label">Correo electrónico</label>
          <input type="email" name="email" id="email" class="form-control">
        </div>

        <div class="mb-4">
          <label for="password" role="button" class="form-label">Contraseña</label>
          <input type="password" name="password" id="password" class="form-control">
        </div>

        <div class="mb-4">
          <label for="confirm-password" role="button" class="form-label">Confirmar contraseña</label>
          <input type="password" name="confirm-password" id="confirm-password" class="form-control">
        </div>

        <div class="d-grid mb-4">
          <button type="submit" class="btn btn-primary rounded-1">Registrarse</button>
        </div>

        <p class="text-center">¿Ya tienes cuenta?</p>
        <a class="d-block" href="/login">¡Inicia sesión aquí!</a>
      </form>
    </div>
  </section>
  <footer>

  </footer>
</body>
</html>